/* --------------------------------------------------------------
    
    MUELLER CSS FRAMEWORK
    marginspaddings.css
    
-----------------------------------------------------------------*/


/*  MARGINS
-----------------------------------------------------------------*/

.margin-mini            { margin: 4px; }
.margin-top-mini        { margin-top: 4px; }
.margin-bottom-mini     { margin-bottom: 4px; }
.margin-left-mini       { margin-left: 5px; }
.margin-right-mini      { margin-right: 5px; }

.margin-small           { margin: 8px; }
.margin-top-small       { margin-top: 8px; }
.margin-bottom-small    { margin-bottom: 8px; }
.margin-left-small      { margin-left: 10px; }
.margin-right-small     { margin-right: 10px; }

.margin                 { margin: 16px; }
.margin-top             { margin-top: 16px; }
.margin-bottom          { margin-bottom: 16px; }
.margin-left            { margin-left: 20px; }
.margin-right           { margin-right: 20px; }

.margin-large           { margin: 24px; }
.margin-top-large       { margin-top: 24px; }
.margin-bottom-large    { margin-bottom: 24px; }
.margin-left-large      { margin-left: 30px; }
.margin-right-large     { margin-right: 30px; }

.margin-xlarge          { margin: 32px; }
.margin-top-xlarge      { margin-top: 32px; }
.margin-bottom-xlarge   { margin-bottom: 32px; }
.margin-left-xlarge     { margin-left: 40px; }
.margin-right-xlarge    { margin-right: 40px; }

.no-margin              { margin: 0; }
.no-margin-top          { margin-top: 0; }
.no-margin-bottom       { margin-bottom: 0; }
.no-margin-left         { margin-left: 0; }
.no-margin-right        { margin-right: 0; }


/*  PADDINGS
-----------------------------------------------------------------*/

.padding-mini           { padding: 4px; }
.padding-top-mini       { padding-top: 4px; }
.padding-bottom-mini    { padding-bottom: 4px; }
.padding-left-mini      { padding-left: 5px; }
.padding-right-mini     { padding-right: 5px; }

.padding-small          { padding: 8px; }
.padding-top-small      { padding-top: 8px; }
.padding-bottom-small   { padding-bottom: 8px; }
.padding-left-small     { padding-left: 10px; }
.padding-right-small    { padding-right: 10px; }

.padding                { padding: 16px; }
.padding-top            { padding-top: 16px; }
.padding-bottom         { padding-bottom: 16px; }
.padding-left           { padding-left: 20px; }
.padding-right          { padding-right: 20px; }

.padding-large          { padding: 24px; }
.padding-top-large      { padding-top: 24px; }
.padding-bottom-large   { padding-bottom: 24px; }
.padding-left-large     { padding-left: 30px; }
.padding-right-large    { padding-right: 30px; }

.padding-xlarge         { padding: 32px; }
.padding-top-xlarge     { padding-top: 32px; }
.padding-bottom-xlarge  { padding-bottom: 32px; }
.padding-left-xlarge    { padding-left: 40px; }
.padding-right-xlarge   { padding-right: 40px; }

.padding-max	        { padding: 64px; }
.padding-top-max     	{ padding-top: 64px; }
.padding-bottom-max  	{ padding-bottom: 64px; }
.padding-left-max    	{ padding-left: 80px; }
.padding-right-max   	{ padding-right: 80px; }

.no-padding             { padding: 0; }
.no-padding-top         { padding-top: 0; }
.no-padding-bottom      { padding-bottom: 0; }
.no-padding-left        { padding-left: 0; }
.no-padding-right       { padding-right: 0; }

