/*  Imports
------------------------------------------------------------------------------------------------------ */
html {
  margin: 0;
  padding: 0;
  border: 0;
}

.bp-reset-element, body, h1, h2, h3, h4, h5, h6, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, blockquote, q, th, td, caption, table,
div, span, object, iframe, p,
pre, a, abbr, acronym, address,
code, del, dfn, em, img,
dl, dt, dd, ol, ul, li, fieldset,
form, label, legend,
caption, tbody, tfoot, thead, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

blockquote, q {
  quotes: "" "";
}
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

th, td, caption {
  float: none !important;
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

a img {
  border: none;
}

.container {
  width: 940px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
}

.column, .span-1, .span-2, .span-3, .span-4, .span-5, .span-6, .span-7, .span-8, .span-9, .span-10, .span-11, .span-12 {
  display: inline;
  float: left;
  margin-right: 20px;
}
* html .column, * html .span-1, * html .span-2, * html .span-3, * html .span-4, * html .span-5, * html .span-6, * html .span-7, * html .span-8, * html .span-9, * html .span-10, * html .span-11, * html .span-12 {
  overflow-x: hidden;
}

.last {
  margin-right: 0;
}

.span-1 {
  width: 60px;
}

.span-2 {
  width: 140px;
}

.span-3 {
  width: 220px;
}

.span-4 {
  width: 300px;
}

.span-5 {
  width: 380px;
}

.span-6 {
  width: 460px;
}

.span-7 {
  width: 540px;
}

.span-8 {
  width: 620px;
}

.span-9 {
  width: 700px;
}

.span-10 {
  width: 780px;
}

.span-11 {
  width: 860px;
}

.span-12 {
  width: 940px;
  margin: 0;
}

input.span-1, textarea.span-1, select.span-1 {
  width: 60px;
}
input.span-2, textarea.span-2, select.span-2 {
  width: 140px;
}
input.span-3, textarea.span-3, select.span-3 {
  width: 220px;
}
input.span-4, textarea.span-4, select.span-4 {
  width: 300px;
}
input.span-5, textarea.span-5, select.span-5 {
  width: 380px;
}
input.span-6, textarea.span-6, select.span-6 {
  width: 460px;
}
input.span-7, textarea.span-7, select.span-7 {
  width: 540px;
}
input.span-8, textarea.span-8, select.span-8 {
  width: 620px;
}
input.span-9, textarea.span-9, select.span-9 {
  width: 700px;
}
input.span-10, textarea.span-10, select.span-10 {
  width: 780px;
}
input.span-11, textarea.span-11, select.span-11 {
  width: 860px;
}
input.span-12, textarea.span-12, select.span-12 {
  width: 940px;
}

.append-1 {
  padding-right: 80px;
}

.append-2 {
  padding-right: 160px;
}

.append-3 {
  padding-right: 240px;
}

.append-4 {
  padding-right: 320px;
}

.append-5 {
  padding-right: 400px;
}

.append-6 {
  padding-right: 480px;
}

.append-7 {
  padding-right: 560px;
}

.append-8 {
  padding-right: 640px;
}

.append-9 {
  padding-right: 720px;
}

.append-10 {
  padding-right: 800px;
}

.append-11 {
  padding-right: 880px;
}

.prepend-1 {
  padding-left: 80px;
}

.prepend-2 {
  padding-left: 160px;
}

.prepend-3 {
  padding-left: 240px;
}

.prepend-4 {
  padding-left: 320px;
}

.prepend-5 {
  padding-left: 400px;
}

.prepend-6 {
  padding-left: 480px;
}

.prepend-7 {
  padding-left: 560px;
}

.prepend-8 {
  padding-left: 640px;
}

.prepend-9 {
  padding-left: 720px;
}

.prepend-10 {
  padding-left: 800px;
}

.prepend-11 {
  padding-left: 880px;
}

.pull-1, .pull-2, .pull-3, .pull-4, .pull-5, .pull-6, .pull-7, .pull-8, .pull-9, .pull-10, .pull-11, .pull-12 {
  display: inline;
  float: left;
  position: relative;
}

.pull-1 {
  margin-left: -80px;
}

.pull-2 {
  margin-left: -160px;
}

.pull-3 {
  margin-left: -240px;
}

.pull-4 {
  margin-left: -320px;
}

.pull-5 {
  margin-left: -400px;
}

.pull-6 {
  margin-left: -480px;
}

.pull-7 {
  margin-left: -560px;
}

.pull-8 {
  margin-left: -640px;
}

.pull-9 {
  margin-left: -720px;
}

.pull-10 {
  margin-left: -800px;
}

.pull-11 {
  margin-left: -880px;
}

.pull-12 {
  margin-left: -960px;
}

.push-1, .push-2, .push-3, .push-4, .push-5, .push-6, .push-7, .push-8, .push-9, .push-10, .push-11, .push-12 {
  display: inline;
  float: left;
  position: relative;
}

.push-1 {
  margin: 0 -80px 1.5em 80px;
}

.push-2 {
  margin: 0 -160px 1.5em 160px;
}

.push-3 {
  margin: 0 -240px 1.5em 240px;
}

.push-4 {
  margin: 0 -320px 1.5em 320px;
}

.push-5 {
  margin: 0 -400px 1.5em 400px;
}

.push-6 {
  margin: 0 -480px 1.5em 480px;
}

.push-7 {
  margin: 0 -560px 1.5em 560px;
}

.push-8 {
  margin: 0 -640px 1.5em 640px;
}

.push-9 {
  margin: 0 -720px 1.5em 720px;
}

.push-10 {
  margin: 0 -800px 1.5em 800px;
}

.push-11 {
  margin: 0 -880px 1.5em 880px;
}

.push-12 {
  margin: 0 -960px 1.5em 960px;
}

.prepend-top {
  margin-top: 1.5em;
}

.append-bottom {
  margin-bottom: 1.5em;
}

body {
  font-size: 75%;
  line-height: 16px;
}

html > body {
  font-size: 12px;
}

/*  -------------------------------------------- */
/*  Layout
/*  -------------------------------------------- */
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 200;
  color: #666666;
  background: #dddddd;
  text-align: center;
  border-top: 2px solid #309bbf;
}
body div.wrapper {
  width: 100%;
}
body div.container {
  width: 940px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
  width: 942px;
  padding: 48px 0 0 1px;
}
body div#header {
  padding-top: 16px;
}
body div#teaser {
  padding-top: 0;
}
body div#teaser p {
  font-size: 16px;
  line-height: 24px;
}
body div#teaser p i {
  line-height: 1em;
}
body div#teaser p em {
  font-style: normal;
  color: #333333;
  line-height: 1em;
}
body div#screenshots h2 {
  font-size: 24px;
  line-height: 24px;
}
body div#links a {
  font-size: 16px;
  line-height: 16px;
  display: block;
  background: #309bbf;
  color: #dddddd;
  border: 2px solid #ccc;
  padding: 14px 0;
  font-weight: 200;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
}
body div#links a:hover {
  background: #333333;
}
body div#features {
  padding-top: 72px;
}
body div#features ul {
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
}
body div#features ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  white-space: nowrap;
}
body div#features ul li {
  *display: inline;
}
body div#features ul li {
  display: inline;
  float: left;
  margin-right: 20px;
  width: 300px;
}
* html body div#features ul li {
  overflow-x: hidden;
}
body div#features ul li.last {
  margin-right: 0;
}
body div#description {
  padding-top: 72px;
}
body div#description h2 {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 0;
  font-weight: normal;
}
body div#description p {
  font-size: 12px;
  line-height: 24px;
  margin-top: 0;
}
body div#details p {
  font-size: 16px;
  line-height: 24px;
}
body div#details p em {
  font-style: normal;
  border-bottom: 2px solid #999;
  line-height: 1em;
}
body div#credits p {
  font-size: 12px;
  line-height: 24px;
  color: #999999;
}
body div#footer {
  padding-bottom: 64px;
}

/*  -------------------------------------------- */
/*  General
/*  -------------------------------------------- */
p, ul, ol, pre {
  padding: 0;
  margin: 24px 0;
  font-size: 16px;
  line-height: 24px;
}

img {
  display: block;
  margin: 0;
  padding: 0;
}

.fontsize-small {
  font-size: 12px;
  line-height: 16px;
}

.fontsize-big {
  font-size: 16px;
  line-height: 24px;
}

.fontsize-large {
  font-size: 24px;
  line-height: 24px;
}

.fontsize-max {
  font-size: 32px;
  line-height: 32px;
}

.fancytype {
  font-family: Baskerville, "Warnock Pro", "Goudy Old Style", Palatino, "Book Antiqua", serif;
  font-style: italic;
  line-height: 1px !important;
}

.code {
  font-family: Menlo, "Andale Mono", Monaco, serif;
}

/*  -------------------------------------------- */
/*  Links
/*  -------------------------------------------- */
a {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-decoration: none;
  font-weight: 200;
  color: #309bbf;
}
a:hover {
  color: #333333;
}
a.twitter {
  display: inline-block;
  width: 96px;
  height: 96px;
  background: transparent url(../img/twitter.png) 0 0 no-repeat;
}
a.twitter:hover {
  background: transparent url(../img/twitter.png) 0 -96px no-repeat;
}
a.twitter span {
  display: none;
}
a.external {
  color: #666666;
  border-bottom: 2px solid #309bbf;
}
a.external:hover {
  border-color: #333333;
}

/*  -------------------------------------------- */
/*  Headlines
/*  -------------------------------------------- */
h1, h2, h3 {
  font-size: 24px;
  line-height: 24px;
  font-weight: 200;
  margin: 24px 0;
  color: #333333;
}

h1 {
  font-size: 24px;
  line-height: 24px;
}
h1.logo {
  display: block;
  width: 940px;
  height: 96px;
  background: transparent url(../img/grappelli.png) 50% 50% no-repeat;
}
h1.logo span {
  display: none;
}
h1.title {
  display: block;
  width: 460px;
  height: 64px;
  background: transparent url(../img/grappelli_logo.png) 50% 50% no-repeat;
}
h1.title span {
  display: none;
}

h2 {
  font-size: 24px;
  line-height: 24px;
  color: #333333;
  text-transform: uppercase;
}

h3 {
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: normal;
}

/*  -------------------------------------------- */
/*  Borders
/*  -------------------------------------------- */
.border-top {
  border-top: 1px solid #eee;
  padding-top: 23px;
}

/*  -------------------------------------------- */
/*  Slider
/*  -------------------------------------------- */
.slider-container {
  overflow: hidden;
}

.slider-list {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
}
.slider-list li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  white-space: nowrap;
}
.slider-list li {
  *display: inline;
}
.slider-list .slider-item {
  float: left;
  display: block;
}

ul.slider-buttons {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
  display: inline-block;
  width: 272px;
}
ul.slider-buttons li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 4px;
  padding-right: 4px;
}
ul.slider-buttons li:first-child, ul.slider-buttons li.first {
  padding-left: 0;
}
ul.slider-buttons li:last-child {
  padding-right: 0;
}
ul.slider-buttons li.last {
  padding-right: 0;
}
ul.slider-buttons li {
  margin: 24px 5px 24px 5px;
  padding: 0;
  width: 24px;
  height: 24px;
}
ul.slider-buttons li a {
  display: block;
  width: 24px;
  height: 24px;
}
ul.slider-buttons li a span {
  display: none;
}
ul.slider-buttons li.slider-prev a {
  background: transparent url(../img/sliderbuttons.png) -120px 0 no-repeat;
}
ul.slider-buttons li.slider-prev a:hover {
  background: transparent url(../img/sliderbuttons.png) -144px 0 no-repeat;
}
ul.slider-buttons li.slider-prev.inactive a {
  background: transparent url(../img/sliderbuttons.png) -168px 0 no-repeat;
}
ul.slider-buttons li.slider-next a {
  background: transparent url(../img/sliderbuttons.png) -48px 0 no-repeat;
}
ul.slider-buttons li.slider-next a:hover {
  background: transparent url(../img/sliderbuttons.png) -72px 0 no-repeat;
}
ul.slider-buttons li.slider-next.inactive a {
  background: transparent url(../img/sliderbuttons.png) -96px 0 no-repeat;
}
ul.slider-buttons li.slider-button a {
  background: transparent url(../img/sliderbuttons.png) 0 0 no-repeat;
}
ul.slider-buttons li.slider-button a:hover {
  background: transparent url(../img/sliderbuttons.png) -24px 0 no-repeat;
}
ul.slider-buttons li.slider-button.active a {
  background: transparent url(../img/sliderbuttons.png) -24px 0 no-repeat;
}

/*  -------------------------------------------- */
/*  Padding/Margin
/*  -------------------------------------------- */
.padding-none {
  padding: 0 !important;
}

.padding-top-none {
  padding-top: 0 !important;
}

.padding-bottom-none {
  padding-bottom: 0 !important;
}

.margin-none {
  margin: 0 !important;
}

.margin-top-none {
  margin-top: 0 !important;
}

.margin-bottom-none {
  margin-bottom: 0 !important;
}

.padding-mini {
  padding: 4px !important;
}

.padding-top-mini {
  padding-top: 4px !important;
}

.padding-bottom-mini {
  padding-bottom: 4px !important;
}

.padding-small {
  padding: 8px !important;
}

.padding-top-small {
  padding-top: 8px !important;
}

.padding-bottom-small {
  padding-bottom: 8px !important;
}

.padding-big {
  padding: 16px !important;
}

.padding-top-big {
  padding-top: 16px !important;
}

.padding-bottom-big {
  padding-bottom: 16px !important;
}

.padding-large {
  padding: 24px !important;
}

.padding-top-large {
  padding-top: 24px !important;
}

.padding-bottom-large {
  padding-bottom: 24px !important;
}

.padding-max {
  padding: 32px !important;
}

.padding-top-max {
  padding-top: 32px !important;
}

.padding-bottom-max {
  padding-bottom: 32px !important;
}

.margin-mini {
  margin: 4px !important;
}

.margin-top-mini {
  margin-top: 4px !important;
}

.margin-bottom-mini {
  margin-bottom: 4px !important;
}

.margin-small {
  margin: 8px !important;
}

.margin-top-small {
  margin-top: 8px !important;
}

.margin-bottom-small {
  margin-bottom: 8px !important;
}

.margin-big {
  margin: 16px !important;
}

.margin-top-big {
  margin-top: 16px !important;
}

.margin-bottom-big {
  margin-bottom: 16px !important;
}

.margin-large {
  margin: 24px !important;
}

.margin-top-large {
  margin-top: 24px !important;
}

.margin-bottom-large {
  margin-bottom: 24px !important;
}

.margin-max {
  margin: 32px !important;
}

.margin-top-max {
  margin-top: 32px !important;
}

.margin-bottom-max {
  margin-bottom: 32px !important;
}
