/* --------------------------------------------------------------

   typography.css

-------------------------------------------------------------- */

body {
    font-size: 12px;
    line-height: 16px;
    color: #999;
    background: #222;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    border-top: 4px solid #222;
}

/* Headings
-------------------------------------------------------------- */

h1,h2,h3 {
    font-weight: bold;
    color: #eee;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 24px;
    line-height: 24px;
}
h2 {
    font-size: 16px;
    line-height: 16px;
    font-weight: normal;
    padding: 16px 0 0 0;
    border-top: 1px solid #444;
}
h2.no-border {
    border: none;
}
h2 span {
    font-weight: normal;
    color: #666;
}
h3 {
    font-size: 12px;
    line-height: 16px;
    color: #666;
    font-weight: normal;
    padding: 16px 0 0 0;
    border-top: 1px solid #333;
}

/* Text elements
-------------------------------------------------------------- */

p {
    margin: 4px 0;
}
p.description {
    color: #333;
    font-size: 16px;
    line-height: 16px;
    padding: 16px 0 0 0;
    margin: 0;
}

a,
a:link,
a:visited {
    font-weight: bold;
    color: #309BBF;
    text-decoration: none;
}

a:focus,
a:hover {
    color: #333;
}

/* Lists
-------------------------------------------------------------- */

li ul,
li ol {
    margin: 0;
}
ul, ol {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: disc;
}
ol {
    list-style-type: decimal;
}

/* Borders
-------------------------------------------------------------- */

.border-top {
    border-top: 1px solid #ddd;
}

.box {
    border-top: 1px solid #111;
}



