


/*  Paragraphs & Other Typo Formats
------------------------------------------------------------------------------------------------------ */

.module p {
    margin: 0;
    padding: 5px 10px;
}



/*  Modules
------------------------------------------------------------------------------------------------------ */

.module {
    margin: 0 0 7px;
    border: 1px solid #bdbdbd;
    background: #eee;
}

#changelist .span-flexible .module + ul.submit-row {
    margin-top: 10px;
}
.rte .module {
    background: transparent;
}
.module:empty {
    display: none;
}


/*  Nested Modules Basics ......................................... */

.module .module {
    margin: 0;
    border: none;
}
.module fielset.module {
    margin: 0;
    border: none;
}



/*  Groups
------------------------------------------------------------------------------------------------------ */

.group {
    margin: 0 -4px 7px;
    padding: 2px;
    border: 2px solid;
}

.group.collapse.closed {
    border-color: #e0e0e0;
}
.group, 
.group.collapse.closed:hover {
    border-color: #c7c7c7;
}
.group.ui-collapsible-closed .ui-collapsible-toggle {
    display: block !important;
}



/*  Elements in Modules & Groups
------------------------------------------------------------------------------------------------------ */


/*  1st Level Borders Top (Dark/Bright) ......................................... */

.group h2, 
.module h2 {
    padding: 6px 10px;
    border-bottom: 1px solid #bdbdbd;
    background: #d6d6d6;
}
.group h2 {
    border: 1px solid #bdbdbd;
    border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
}
.group h2+.tools+* {
    margin-top: 2px;
}
.module h2+*, 
.module h2+.tools+* {
    border-top: 1px solid #fff;
}
.module h2+.module, 
.module h2+.tools, 
.module h2+.tools+.module {
    border-top: none !important;
}


/*  2nd Level Borders Top (Dark/Bright) ......................................... */

.module .module {
    border-top: 1px solid #c7c7c7;
}
#changelist .span-flexible .module .module:first-child {
    border-top: none;
}
.module .module>*:first-child {
    border-top: 1px solid #eee;
}

.group h3, 
.module h3 {
    margin: 0;
    padding: 5px 10px;
    border-bottom: 1px solid #c7c7c7;
    background: #e0e0e0;
}
.module h3+*, 
.module h3+.tools+* {
    border-top: 1px solid #fff;
}
.module h3+.module, 
.module h3+.tools, 
.module h3+.tools+.module {
    border-top: none !important;
}


/*  3rd Level Borders Top (Dark/Bright) ......................................... */

.group .module .module, 
.module .module .module {
    border-top: 1px solid #d4d4d4;
}
.group .module .module>*:first-child, 
.module .module .module>*:first-child {
    border-top: 1px solid #f4f4f4;
}

.group h4, 
.module h4 {
    margin: 0;
    padding: 3px 10px 4px 10px;
    border-bottom: 1px solid #d4d4d4;
    background: #e8e8e8;
}
.module h4+*, 
.module h4+.tools+* {
    border-top: 1px solid #fff;
}
.module h4+.tools {
    border-top: none !important;
}

.module .description {
    padding: 8px 10px;
    font-size: 11px;
    border-bottom: 1px solid #d4d4d4;
}



/*  Modules & Groups Overrides
------------------------------------------------------------------------------------------------------ */

.module:first-child {
    margin-top: 0 !important;
}
.group .module:first-child {
    margin-top: 2px !important;
}
.group:first-child {
    margin-top: -4px;
}
.group .module {
    margin-top: 2px;
    margin-bottom: 0;
}
.group .module .module {
    margin-top: 0;
}
.group:last-child, 
.module:last-child {
    margin-bottom: 0;
}



/*  Collapsible Structures
------------------------------------------------------------------------------------------------------ */

.collapse.closed *, 
.collapse.closed .module.table, 
.collapse.closed .module.table * {
    display: none;
}

.collapse-handler {
    cursor: pointer;
}

.collapse.closed .collapse-handler, 
.collapse.closed .tools,
.collapse.closed .tools * {
    display: block !important;
}
.collapse.closed h3+.tools, 
.collapse.closed h4+.tools {
    margin-top: 1px !important;
}

.module.collapse.closed h2.collapse-handler, 
.module.collapse.closed h3.collapse-handler, 
.module.collapse.closed h4.collapse-handler {
    border-bottom: none;
}


/*  1st Level Collapsible-Handler ......................................... */

.collapse h2.collapse-handler {
    background: #a1d4e5;
}
.collapse h2.collapse-handler:hover, 
.collapse.open h2.collapse-handler {
    background: #bcdfeb;
}


/*  2nd Level Collapsible-Handler ......................................... */

.group .collapse h3.collapse-handler, 
.module .collapse h3.collapse-handler {
    background: #cee9f2;
}
.group .collapse h3.collapse-handler:hover, 
.module .collapse h3.collapse-handler:hover, 
.group .collapse.open h3.collapse-handler, 
.module .collapse.open h3.collapse-handler {
    background: #e1f0f5;
}
.module .collapse h3.collapse-handler {
    border-top: 1px solid #e1f0f5;
}


/*  3rd Level Collapsible-Handler ......................................... */

.group .module .collapse h4.collapse-handler, 
.module .module .collapse h4.collapse-handler {
    border-top: 1px solid #f0f7fa;
    background: #e1f0f5;
}
.group .collapse h4.collapse-handler:hover, 
.module .collapse h4.collapse-handler:hover, 
.group .collapse.open h4.collapse-handler, 
.module .collapse.open h4.collapse-handler {
    background: #ebf2f5;
}



/*  Form Row
------------------------------------------------------------------------------------------------------ */

.form-row {
    overflow: hidden;
    padding: 8px 10px;
    line-height: 18px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #e0e0e0;
}
.form-row.first, 
.form-row:first-child, 
.module input[type=hidden] + .form-row {
    border-top: none;
}
.form-row.last, 
.form-row:last-of-type {
    border-bottom: none !important;
}
fieldset.module > .form-row.last, 
fieldset.module > .form-row:last-child {
    border-bottom: none !important;
}
.form-row+.module {
    margin-top: -1px !important;
}

.form-row .column:first-child {
    margin-left: 0 !important;
}
.form-row .column:last-child {
    margin-right: -20px !important;
}



/* Form Cell
------------------------------------------------------------------------------------------------------ */

.form-cell {
    float: left;
    margin-top: -8px;
    margin-bottom: -8px;
    padding: 8px 18px 8px 0;
    border-right: 1px solid #e0e0e0;
    border-left: 1px solid #fff;
    white-space: nowrap;
}
.form-cell + .form-cell {
    padding-left: 20px;
}
.form-cell:first-child {
    border-left: none !important;
}
.form-cell:last-child, 
.form-cell.last {
    border-right: none !important;
}
.form-cell[class*="span"] {
    margin-right: 0;
}
.form-cell[class*="span"]:first-child {
    padding-left: 0;
}
.form-cell input[class*="span"] {
    margin-right: 0;
}

.form-cell.last + .form-cell {
    clear: left;
    border-left: none !important;
    padding-left: 0;
}
.form-cell.last + .form-cell, 
.form-cell.last + .form-cell + .form-cell, 
.form-cell.last + .form-cell + * + .form-cell {
    margin-top: 0;
}



/* Row
------------------------------------------------------------------------------------------------------ */

.row {
    padding: 5px 10px;
    font-weight: bold;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #e0e0e0;
}
.row:last-child {
    border-bottom: 0;
}
.row * {
    border: 0;
}



/* Cell
------------------------------------------------------------------------------------------------------ */

.row .cell {
    display: inline-block;
    width: auto;
}



/* Tabular Modules
------------------------------------------------------------------------------------------------------ */

.module.table {
    display: table;
    margin: 0 0 -2px;
    width: 100%;
    border: 0;
    border-collapse: separate;
    border-spacing: 0 2px;
    background: transparent;
}
h2 + .module.table, 
h2 + * + .module.table, 
h2 + * + * + .module.table {
    margin-top: 0 !important;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
    .module.table {
        margin-bottom: -1px;
        border-spacing: 0 1px !important;
    }
}

.module.thead {
    display: table-header-group;
}
.module.tfoot {
    display: table-footer-group;
}
.module.thead, 
.module.tfoot {
    color: #aaa;
    font-size: 11px;
    font-weight: bold;
    background: transparent;
}
.module.table .tr {
    display: table-row;
    background: transparent;
}

.module.tbody {
    display: table-row-group;
    background: transparent;
}

.module.table .th, 
.module.table .td {
    display: table-cell; 
    float: none;
    overflow: hidden;
    margin-right: 0;
    padding: 1px 20px;
    height: 100%;
    vertical-align: top;
    white-space: nowrap;
    border-left: 1px solid #fff;
    border-right: 1px solid #e0e0e0;
}
.module.thead .th:last-of-type, 
.module.thead .td:last-of-type, 
.module.tfoot .td:last-of-type {
    border-right: 0;
}
.module.table .module.thead .th, 
.module.table .module.thead .td {
    border-top: 0;
    background: 0;
}
.module.tbody .th, 
.module.tbody .td {
    padding-top: 5px;
    padding-bottom: 5px;
    border-top: 1px solid #d4d4d4;
    border-bottom: 1px solid #d4d4d4;
    background: #eee;
}
.module.table .th:first-of-type, 
.module.table .td:first-of-type {
    padding-left: 10px;
}
.module.tbody .th.tools, 
.module.tbody .td.tools {
    padding-left: 0;
    width: 100%;
}
.module.tbody .th:first-of-type, 
.module.tbody .td:first-of-type {
    border-left: 1px solid #ccc;
}

.empty-form {
    display: none !important;
}



/*  Add Items
------------------------------------------------------------------------------------------------------ */

.module.add-item {
    height: 28px;
    border-color: transparent;
    background: #fff;
}
.module.add-item>a {
    position: relative;
    top: 6px;
    padding: 5px 10px;
    font-weight: bold;
}



/*  Predelete
------------------------------------------------------------------------------------------------------ */

.predelete h2, .predelete h2.collapse-handler, 
.predelete h3, .predelete h3.collapse-handler, 
.predelete h4, .predelete h4.collapse-handler {
    background: #f2e6e6 !important;
}
.predelete h2.collapse-handler:hover, 
.predelete h3.collapse-handler:hover, 
.predelete h4.collapse-handler:hover, 
.collapse.open .predelete h2.collapse-handler, 
.collapse.open .predelete h3.collapse-handler, 
.collapse.open .predelete h4.collapse-handler {
    background: #f2e6e6 !important;
}
.predelete, 
.predelete .module,
.predelete .th, 
.predelete .td {
    background: #f2e6e6 !important;
}



/*  Selectors
------------------------------------------------------------------------------------------------------ */

.selector {
    position: relative; float: left; overflow: hidden;
    width: 758px;
}
.selector-available, .selector-chosen {
    float: left;
    width: 366px;
    border: 1px solid #ccc;
    background: #ddd;
}
.stacked .selector-available, .stacked .selector-chosen {
    width: 756px;
}
.selector h2, .inline-group .selector h2, 
.inline-related fieldset .selector-available h2, .inline-related fieldset .selector-chosen h2 {
    padding: 7px 5px 6px 7px;
    font-size: 12px;
    line-height: 13px;
    font-weight: bold;
    border: 0;
    border-bottom: 1px solid #d0d0d0;
    background: transparent;
}
.selector .selector-filter {
    padding: 3px 5px 2px 2px;
    min-height: 25px;
    color: #666;
    font-weight: bold;
    line-height: 25px;
    text-indent: 25px;
    border-top: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    background: url('../img/icons/icon-searchbox.png') 6px 50% no-repeat;
}
.selector .selector-filter input[type=text] {
    position: relative;
    margin: 0;
    width: 326px !important;
    max-width: 326px !important;
}
.selector.stacked .selector-filter input[type=text] {
    width: 716px !important;
    max-width: 716px !important;
}
.selector .selector-filter img {
    display: none;
}
.selector select[multiple=multiple] {
    margin: 0;
    padding-left: 3px;
    max-width: 367px !important;
    width: 367px !important;
    height: 200px;
    border-top: 1px solid #d0d0d0;
    border-bottom: 1px solid #d0d0d0;
    border-left: 0;
    -moz-border-radius: 0; -webkit-border-radius: 0;
}
.selector.stacked select[multiple=multiple] {
    width: 757px !important;
    max-width: 757px !important;
}
.selector h2 + select {
    display: none;
    position: relative;
    top: -1px;
    border-top: 0;
}
.selector ul.selector-chooser {
    float: left;
    margin: 110px 2px 0;
    padding: 0;
    width: 18px;
}
.selector.stacked ul.selector-chooser {
    margin: 4px 0 0 356px;
    width: 36px;
}
.selector.stacked ul.selector-chooser li {
    float: left;
}
a.selector-add, a.selector-remove {
    display: block;
    width: 18px;
    height: 18px;
    color: transparent;
    background-position: 50% 0;
    background-repeat: no-repeat;
}
a.selector-add:link, a.selector-add:visited {
    background-image: url('../img/icons/icon-selector_add-m2m_horizontal.png');
}
a.selector-add:hover, a.selector-add:active {
    background-image: url('../img/icons/icon-selector_add-m2m_horizontal-hover.png');
}
a.selector-remove:link, a.selector-remove:visited {
    background-image: url('../img/icons/icon-selector_remove-m2m_horizontal.png');
}
a.selector-remove:hover, a.selector-remove:active {
    background-image: url('../img/icons/icon-selector_remove-m2m_horizontal-hover.png');
}
.stacked a.selector-add:link, .stacked a.selector-add:visited {
    background-image: url('../img/icons/icon-selector_add-m2m_vertical.png');
}
.stacked a.selector-add:hover, .stacked a.selector-add:active {
    background-image: url('../img/icons/icon-selector_add-m2m_vertical-hover.png');
}
.stacked a.selector-remove:link, .stacked a.selector-remove:visited {
    background-image: url('../img/icons/icon-selector_remove-m2m_vertical.png');
}
.stacked a.selector-remove:hover, .stacked a.selector-remove:active {
    background-image: url('../img/icons/icon-selector_remove-m2m_vertical-hover.png');
}
a.selector-chooseall, a.selector-clearall {
    display: block;
    margin: 0;
    padding: 2px 7px;
    font-size: 11px;
    line-height: 13px;
    font-weight: bold;
    border-top: 1px solid #e4e4e4;
}



/* Navigation, Table of Contents
------------------------------------------------------------------------------------------------------ */

.module.link-list, 
.module.link-list .module, 
.module.actions, 
.module.actions .module, 
.module.feed, 
.module.feed .module {
    background: #fff;
}
.link-list ul li, 
.feed ul li, 
.table-of-contents ul li {
    padding: 0;
    font-size: 11px; line-height: 15px; font-weight: bold;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #e0e0e0;
}
.actions ul li {
    color: #999;
}
.actions ul li:first-child, 
.link-list ul li:first-child, 
.feed ul li:first-child, 
.table-of-contents ul li:first-child {
    border-top: none;
}
.actions ul li:last-child, 
.link-list ul li:last-child, 
.feed ul li:last-child, 
.table-of-contents ul li:last-child {
    border-bottom: none;
}
.link-list ul li a, 
.feed ul li a, .feed ul li span, 
.table-of-contents ul li a {
    display: block;
    padding: 5px 10px;
    font-weight: bold;
    line-height: 13px;
    background-color: transparent;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
.link-list ul li.selected a, 
.table-of-contents ul li.selected a {
    color: #444;
}

.link-list ul li a, 
.feed ul li a {
    padding-left: 25px;
}
.dashboard a.internal {
    background-position: 12px 7px;
}
.dashboard a.external {
    background-position: 10px 8px;
}
.dashboard a.internal:link, .dashboard a.internal:visited {
    background-image: url('../img/icons/icon-navigation-internal.png');
}
.dashboard a.internal:hover, .dashboard a.internal:active {
    color: #666;
    background-image: url('../img/icons/icon-navigation-internal-hover.png');
}
.dashboard a.external:link, .dashboard a.external:visited {
    color: #83c3d9;
    background-image: url('../img/icons/icon-navigation-external.png');
}
.dashboard a.external:hover, .dashboard a.external:active {
    color: #666;
    background-image: url('../img/icons/icon-navigation-external-hover.png');
}

.feed ul li a, .feed ul li span {
    line-height: 13px;
}
.feed ul li span.date {
    float: right;
    padding: 5px 5px 0 5px;
}



/* Basic Actions & Module Actions
------------------------------------------------------------------------------------------------------ */

ul.actions {
    position: relative; float: right; clear: both;
}
ul.actions li {
    position: relative; float: left;
    margin-left: 20px;
}
ul.actions li.change-link {
    width: 56px;
}
ul.actions li a {
    padding-left: 15px;
    font-size: 11px;
    background-position: 0 50%;
    background-repeat: no-repeat;
}

.actions ul li {
    padding: 4px 5px 4px 25px;
    font-size: 11px;
    line-height: 12px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #e0e0e0;
}

.actions ul li a {
    margin-left: -15px; padding-left: 15px;
    font-weight: bold;
    background-position: 0 50%;
    background-repeat: no-repeat;
}

.actions li.add-link a:link, .actions li.add-link a:visited {
    background-image: url('../img/icons/icon-actions-add-link.png');
}
.actions li.add-link a:hover, .actions li.add-link a:active {
    background-image: url('../img/icons/icon-actions-add-link-hover.png');
}
.actions li.change-link a:link, .actions li.change-link a:visited {
    background-image: url('../img/icons/icon-actions-change-link.png');
}
.actions li.change-link a:hover, .actions li.change-link a:active {
    background-image: url('../img/icons/icon-actions-change-link-hover.png');
}

.actions li.delete-link {
    color: #666;
    text-decoration: line-through;
    background: url('../img/icons/icon-actions-delete-link.png') 10px 7px no-repeat;
}



/*  Module Changelist Filters
------------------------------------------------------------------------------------------------------ */

.module.changelist-filters {
    position: relative;
    color: #666;
    border: 1px solid #d9d9d9;
}



/*  Module Search & Module Filter
------------------------------------------------------------------------------------------------------ */

.module.search, 
.module.filter {
    position: relative; float: right;
    z-index: 1000;
    padding: 8px 10px;
    border: 0;
}
.module.search {
    padding-right: 0;
}

.module.filter .pulldown-container {
    position: absolute;
    width: inherit;
    border: 1px solid #fff;
}
.module.filter.open .pulldown-container {
    border-color: #ccc;
    box-shadow: 0 0 10px #444; -moz-box-shadow: 0 0 10px #444; -webkit-box-shadow: 0 0 10px #444;
}

a.button.toggle-filters {
    display: block;
    margin: 0;
    padding: 4px 20px 4px 8px;
}
.open a.button.toggle-filters, 
.open.selected a.button.toggle-filters {
    border-color: transparent !important;
}
a.button.toggle-filters:link, a.button.toggle-filters:visited {
    color: #309bbf;
    border-color: #ddd;
    background: transparent url('../img/icons/icon-dropdown.png') 100% 3px no-repeat;
}
.selected a.button.toggle-filters:link, .selected a.button.toggle-filters:visited {
    color: #444;
    background: #e1f0f5 url('../img/icons/icon-dropdown-hover.png') 100% 3px no-repeat;
}
.open a.button.toggle-filters, .selected a.button.toggle-filters, 
.selected a.button.toggle-filters:hover, .selected a.button.toggle-filters:active, 
a.button.toggle-filters:hover, a.button.toggle-filters:active {
    color: #666;
    border-color: #ccc;
    background: #e1f0f5 url('../img/icons/icon-dropdown-hover.png') 100% 3px no-repeat;
}
.selected a.button.toggle-filters:link, .selected a.button.toggle-filters:visited {
    color: #666;
    border-color: #ddd;
    background: #e1f0f5 url('../img/icons/icon-dropdown-hover.png') 100% 3px no-repeat;
}
.open a.button.toggle-filters, 
.open.selected a.button.toggle-filters, 
.selected a.button.toggle-filters:hover, .selected a.button.toggle-filters:active, 
a.button.toggle-filters:hover, a.button.toggle-filters:active {
    color: #666;
    border-color: #ccc;
    background: #e1f0f5 url('../img/icons/icon-dropdown-hover.png') 100% 3px no-repeat;
}

.filter-pulldown {
    display: none;
    position: relative;
    z-index: 1000;
    margin: -1px 0;
    padding: 0 10px 10px;
    border: 1px solid transparent;
    border-top: 0;
    background: #e1f0f5;
}
.filter-pulldown .filter {
    position: relative;
    padding: 7px 0 0;
    width: 100%;
}
.filter-pulldown select {
    width: 100% !important;
}
.filter-pulldown label {
    color: #999;
    margin: 0 0 -2px; padding: 0;
    width: 100% !important;
    line-height: 12px;
    font-weight: bold;
}



/* Module Date Hierarchy
------------------------------------------------------------------------------------------------------ */

.module.date-hierarchy {
    padding: 3px 10px;
    border: 1px solid #d9d9d9;
    background: #eee;
}
.module + .module.date-hierarchy {
    margin-top: -8px;
}
.module + .module.date-hierarchy .form-row {
    border-top: 1px solid #fff !important;
}

.date-hierarchy ul {
    position: relative; float: left; clear: both;
    font-size: 11px;
    line-height: 16px;
    font-weight: bold;
}
.date-hierarchy ul li {
    position: relative; float: left;
    margin-right: 10px;
}
.module.date-hierarchy ul a, 
.module.date-hierarchy ul span {
    padding: 2px 5px 1px;
}
.date-hierarchy ul li a.date-hierarchy-back {
    padding-left: 10px;
    background: 0 50% no-repeat scroll;
}
.date-hierarchy a.date-hierarchy-back:link, .date-hierarchy a.date-hierarchy-back:visited {
    background-image: url('../img/icons/icon-date-hierarchy-back.png');
}
.date-hierarchy a.date-hierarchy-back:hover, .date-hierarchy a.date-hierarchy-back:active {
    color: #666;
    background-image: url('../img/icons/icon-date-hierarchy-back-hover.png');
}



/* Pagination
------------------------------------------------------------------------------------------------------ */

.module.pagination {
    padding: 8px 10px;
    border: 1px solid #d9d9d9;
}
.module .module.pagination {
    position: relative; float: left;
    border: 0;
}
ul.pagination {
    position: relative;
    clear: both;
    margin: 0;
    padding: 0;
    width: auto;
    font-weight: bold;
    border-top: none !important;
}
ul.pagination li {
    position: relative;
    float: left;
    display: block;
    margin-right: 3px;
    border: 1px solid #fff;
}
ul.pagination li.results {
    margin-right: 10px;
}
ul.pagination li:last-child {
    clear: right;
}

ul.pagination span, 
ul.pagination a {
    display: inline-block;
    padding: 4px 8px 4px;
    min-width: 25px;
    font-size: 11px;
    font-weight: bold;
    border: 1px solid;
    box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;
}
ul.pagination a:link, .pagination a:visited {
    color: #59afcc;
    border-color: #d9d9d9;
}
ul.pagination a:hover, .pagination a:active {
    color: #444;
    border-color: #bdbdbd;
    background: #e0e0e0;
}
ul.pagination span {
    color: #444;
    border-color: #bdbdbd;
    background: #e0e0e0;
}
ul.pagination li.showall {
    margin-left: 7px;
}
.submit-row ul.pagination li, 
.submit-row ul.pagination li.results {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}



/* Module Changelist-Results
------------------------------------------------------------------------------------------------------ */

.module.changelist-results {
    background: #eee url('/media/admin/img/backgrounds/changelist-results.png') repeat scroll !important;
}
.changelist-actions + .changelist-results, 
.changelist-results + .changelist-actions {
    margin-top: -1px;
}



/* Module Changelist Actions
------------------------------------------------------------------------------------------------------ */

.module.changelist-actions {
    display: none;
    position: relative;
    margin-bottom: 0;
    color: #ccc;
    background: #eee;
}
.module.changelist-actions.all-selected, 
.module.changelist-actions.all-selected + .module.changelist-results {
    background: #ffffe6 !important;
}

.module.changelist-actions ul {
    position: relative; float: left;
    display: inline;
    font-size: 11px;
    line-height: 16px;
    font-weight: bold;
    margin: -1px 10px -1px 0;
}
.module.changelist-actions ul li {
    position: relative; float: left;
    display: block;
    margin-right: 3px;
    border: 1px solid #444;
}
.module.changelist-actions ul li.all {
    margin-right: 10px;
}

.module.changelist-actions ul a, 
.module.changelist-actions ul span {
    display: inline-block;
    padding: 4px 8px 3px;
    font-size: 11px;
    font-weight: bold;
    border: 1px solid;
}
.module.changelist-actions ul a:link, .module.changelist-actions ul a:visited {
    color: #59afcc;
    border-color: #333;
    background: #333;
}
.module.changelist-actions ul a:hover, .module.changelist-actions ul a:active {
    color: #ccc;
    border-color: #333;
    background: #555;
}
.module.changelist-actions ul span {
    color: #ccc;
    border-color: #333;
}
.module.changelist-actions ul span span {
    padding: 0;
    border: 0;
}

.module.changelist-actions #action-toggle {
    display: none;
}
.module.changelist-actions select {
    float: left;
    margin: 0 10px 0 0;
    width: 278px;
}

.module.changelist-actions li.all,
.module.changelist-actions li.clear-selection,
.module.changelist-actions li.question {
   display: none;
}



/* Module Footer
------------------------------------------------------------------------------------------------------ */

.module.footer {
    position: fixed;
    z-index: 1000;
    bottom: 0;
    margin: 0 -20px;
    padding: 10px 20px;
    width: 100%;
    opacity: 1;
    border: 0;
    border-top: 1px solid #bdbdbd;
    box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;
    background: #333;
}

.module.footer {
    padding: 8px 20px 7px;
}
.module.footer.changelist-actions {
    padding: 10px 20px;
}



/* Submit Row
------------------------------------------------------------------------------------------------------ */

.module.submit-row {
    width: 100%;
    border: 0;
}
ul.submit-row {
    position: relative; float: left; clear: both;
    width: 100%;
}
.pagination + ul.submit-row {
    float: right; clear: none;
    width: 25%;
}
ul.submit-row li {
    float: right;
    margin-left: 10px;
}

ul.submit-row li.left {
    float: left;
}
ul.submit-row li.left:first-child {
    margin-left: 0;
}



/* Sortable
------------------------------------------------------------------------------------------------------ */

.sortablehelper, sortablehelper * {
    display: none;
}







