


/*	Tools Basics
------------------------------------------------------------------------------------------------------ */

.tools {
    position: relative; float: right; clear: both;
    padding: 6px 10px;
    font-size: 11px; font-weight: bold;
}
ul.tools {
    padding: 0;
    list-style-type: none;
    white-space: nowrap;
}
ul.tools:empty {
    display: none;
}
ul.tools li {
    position: relative; float: left;
    display: block;
    overflow: hidden;
    margin-left: 5px;
    padding: 6px 0;
    min-width: 12px;
    border-top: none !important;
    border-bottom: none !important;
}
ul.tools li:last-child {
    margin-right: 5px;
}



/*	H1 + Tools
------------------------------------------------------------------------------------------------------ */

h1 + .tools, 
.grappelli-h1 + .tools {
    position: relative; float: right; clear: right; z-index: 900;
    margin-top: -34px;
    margin-bottom: -34px;
    display: inline-block;
}

h1 + .tools li, 
h1 + .tools li:last-child {
    float: left;
    margin: 0 0 0 3px; padding: 0;
}
h1 + .tools a {
    display: block;
    margin: 0; padding: 4px 15px;
    width: auto; height: 17px;
    font-size: 11px;
    border-radius: 15px; -moz-border-radius: 15px; -webkit-border-radius: 15px;
    opacity: .6;
}
h1 + .tools a, h1 + .tools a:visited {
    color: #fff;
    background: #444;
    background: -moz-linear-gradient(top, #666, #444);
    background: -webkit-gradient(linear, left top, left bottom, from(#666), to(#444));
}
h1 + .tools a:hover, h1 + .tools a:active {
    color: #fff;
    border-color: transparent;
    background: #309bbf;
    background: -moz-linear-gradient(top, #39bae5, #309bbf);
    background: -webkit-gradient(linear, left top, left bottom, from(#39bae5), to(#309bbf));
    opacity: 1;
}


/*  Focused Buttons ................................................... */

h1 + .tools a.focus {
    opacity: 1;
}




/*  Tools
------------------------------------------------------------------------------------------------------ */

.group .tools, 
.module .tools {
    position: relative; float: right; clear: both;
    padding: 6px 10px;
    font-size: 11px; font-weight: bold;
}
.group ul.tools, 
.module ul.tools {
    padding: 0 2px;
    list-style-type: none;
}
.group ul.tools li, 
.module ul.tools li {
    position: relative; float: left;
    display: block;
    overflow: hidden;
    margin-left: 5px;
    padding: 6px 2px;
}
.group ul.tools li:last-child, 
.module ul.tools li:last-child {
    margin-right: 5px;
}


/*  1st Level H2 + Tools ......................................... */

.group h2+.tools, 
.module h2+.tools {
    top: -29px;
    right: 0;
    margin-bottom: -29px;
    border-top-right-radius: 4px; -moz-border-radius-topright: 4px; -webkit-border-top-right-radius: 4px;
}

.module h2+.tools li {
    border-top-right-radius: 4px; -moz-border-radius-topright: 4px; -webkit-border-top-right-radius: 4px;
}
.group h2+.tools, 
.module.ui-collapsible-closed h2+.tools {
    border-bottom-right-radius: 4px; -moz-border-radius-bottomright: 4px; -webkit-border-bottom-right-radius: 4px;
}
.group h2+.tools {
    right: 1px;
}
.group.ui-collapsible-closed h2+.tools {
    /*display:none!important;*/
}
.module.ui-collapsible-closed h2+.tools {
    top: -28px;
}



/*  2nd Level H3 + Tools ......................................... */

.module h3+.tools {
    top: -27px;
    right: 0;
    margin-bottom: -27px;
}
.module h3+ul.tools li {
    padding-top: 5px;
    padding-bottom: 5px;
}
.group .module.ui-collapsible-closed h3+.tools, 
.group .module.ui-collapsible-closed h3+.tools li, 
.module.ui-collapsible-closed:last-child h3+.tools, 
.module.ui-collapsible-closed:last-child h3+.tools li {
    border-bottom-right-radius: 4px; -moz-border-radius-bottomright: 4px; -webkit-border-bottom-right-radius: 4px;
}
.group h3+.tools, 
.group h3+.tools li {
    border-top-right-radius: 4px; -moz-border-radius-topright: 4px; -webkit-border-top-right-radius: 4px;
}


/*  3rd Level H4 + Tools ......................................... */

.module h4+.tools {
    top: -24px;
    right: 0;
    margin-bottom: -24px;
}
.module h4+ul.tools li {
    padding-top: 3px;
    padding-bottom: 4px;
}
.module.ui-collapsible-closed:last-child h4+.tools, 
.module.ui-collapsible-closed:last-child h4+.tools li {
    border-bottom-right-radius: 4px; -moz-border-radius-bottomright: 4px; -webkit-border-bottom-right-radius: 4px;
}


/*  Tools in Tabular Groups ......................................... */

.module.table .table-cell .tools {
    top: -5px;
    right: -20px;
    margin-left: -20px;
    margin-bottom: -15px;
}
.module.table .table-cell .tools li {
    padding-top: 10px;
    padding-bottom: 9px;
}
.module.table .table-cell .tools li input {
    display: none;
}


/*  Tools in Module Add-Handler ......................................... */

.tabular .module.ui-add-handler .tools {
    height: 34px;
}
.tabular .module.ui-add-handler .tools li {
    padding: 9px 2px;
}


/*  Links ................................................... */

.tools a {
    position: relative; display: block;
    margin: -6px 0;
    padding: 6px 0px;
    width: 100%; height: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    cursor:pointer;
}

.tools a.icon {
    width: 12px; height: 16px;
    margin: -6px 0;
    padding: 6px 0px;
/*    background-color: #e4f;*/
}

.module.table .cell .tools a {
    margin: -9px 0;
    padding: 9px 0px;
}
.module.table .cell .tools a.icon {
    margin: -9px 0;
    padding: 10px 0px;
}


/*  Icons ................................................... */

.tools a.drag-handler, .tools a.drag-handler:visited {
    background-image: url('../img/icons/icon-tools-drag-handler.png');
}
.tools a.drag-handler:hover, .tools a.drag-handler:active {
    background-image: url('../img/icons/icon-tools-drag-handler-hover.png');
}
.predelete-items a.drag-handler, .predelete-item a.drag-handler {
    display: none;
}

.tools a.viewsite-link, .tools a.viewsite-link:visited {
    background-image: url('../img/icons/icon-tools-viewsite-link.png');
    opacity: .4;
}
.tools a.viewsite-link:hover, .tools a.viewsite-link:active {
    background-image: url('../img/icons/icon-tools-viewsite-link-hover.png');
}

.tools a.delete-handler, .tools a.delete-handler:visited, 
.predelete .tools a.delete-handler:hover, .predelete .tools a.deletelink:active {
    background-image: url('../img/icons/icon-tools-delete-handler.png');
}
.tools a.delete-handler:hover, .tools a.delete-handler:active, 
.predelete .tools a.delete-handler, .predelete .tools a.delete-handler:visited {
    background-image: url('../img/icons/icon-tools-delete-handler-hover.png');
}

.tools a.remove-handler, .tools a.remove-handler:visited {
    background-image: url('../img/icons/icon-tools-remove-handler.png');
}
.tools a.remove-handler:hover, .tools a.remove-handler:active {
    background-image: url('../img/icons/icon-tools-remove-handler-hover.png');
}

.tools a.ui-add-handler, .tools a.ui-add-handler:visited {
    background-image: url('../img/icons/icon-tools-add-handler.png');
}
.tools a.ui-add-handler:hover, .tools a.ui-add-handler:active {
    background-image: url('../img/icons/icon-tools-add-handler-hover.png');
}

.tools a.ui-collapsible-open-all, .tools a.ui-collapsible-open-all:visited {
    background-image: url('../img/icons/icon-tools-open-handler.png');
}
.tools a.ui-collapsible-open-all:hover, .tools a.ui-collapsible-open-all:active {
    background-image: url('../img/icons/icon-tools-open-handler-hover.png');
}

.tools a.ui-collapsible-close-all, .tools a.ui-collapsible-close-all:visited {
    background-image: url('../img/icons/icon-tools-close-handler.png');
}
.tools a.ui-collapsible-close-all:hover, .tools a.ui-collapsible-close-all:active {
    background-image: url('../img/icons/icon-tools-close-handler-hover.png');
}
