
/*  typography.css: 
    2009 / vonautomatisch werkstaetten / vonautomatisch.at
------------------------------------------------------------------------------------------------------ */



/* 	Headings
------------------------------------------------------------------------------------------------------ */

h1, h2, h3, h4 {
    font-weight: bold;
}

h1 {
    position: relative; z-index: 800;
    margin: 26px 0 10px;
    font-size: 16px; line-height: 20px;
}
.pretitle + h1 {
    margin-top: 0;
}
h2 {
    font-size: 13px;
}
h3 {
    font-size: 12px;
}
h4, h5 {
    font-size: 11px;
}



/* 	Paragraphs
------------------------------------------------------------------------------------------------------ */

p.help {
    padding: 5px 0;
    color: #999;
    font-size: 10px !important; line-height: 12px;
}

.fb_show + p.help a {
    display: inline-block;
    padding: 3px;
    font-size: 0; line-height: 0;
    border: 1px solid #309bbf;
    border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px;
}
.fb_show + p.help a:link, .fb_show + p.help a:visited {
    border: 1px solid #309bbf;
}
.fb_show + p.help a:hover, .fb_show + p.help a:active {
    border: 1px solid #444;
}
.fb_show + p.help a img {
    margin: 0;
    font-size: 0; line-height: 0;
}
.container-grid > p:first-child, .container-flexible > p:first-child, 
.container-grid .column > p:first-child, .container-flexible .column > p:first-child {
    margin: 0 0 10px;
}



/* 	Links
------------------------------------------------------------------------------------------------------ */

a { text-decoration: none; outline: none !important; }
a:link, a:visited { color: #309bbf; }
a:hover, a:active, a.selected { color: #444; }

.dashboard h3 a:link, .dashboard h3 a:visited {
    color: #444;
}
.dashboard h3 a:hover, .dashboard h3 a:active {
    color: #309bbf;
}

#header a:link, #header a:visited { color: #59AFCC; }
#header a:hover, #header a:active { color: #444; }

a.back { font-weight: bold; }



/*  Listings
------------------------------------------------------------------------------------------------------ */

ul, li {
    list-style-type: none;
}



/*  Blockquote, Pre, Code
------------------------------------------------------------------------------------------------------ */

blockquote {
    margin-left: 2px; padding-left: 4px;
    color: #777; font-size: 11px;
    border-left: 5px solid #ddd;
}

code, pre {
    color: #666; font-size: 11px; font-family: "Bitstream Vera Sans Mono", Monaco, "Courier New", Courier, monospace;
    background: inherit;
}

pre.literal-block {
    margin: 10px; padding: 6px 8px;
    background: #eee;
}

code strong { color: #930; }

hr {
    clear: both;
    margin: 0; padding: 0;
    height: 1px;
    color: #eee; font-size: 1px; line-height: 1px;
    border: none;
    background-color: #eee;
}



/*  Table Typography
------------------------------------------------------------------------------------------------------ */

th.focus, 
td.focus {
    font-weight: bold;
}



/*  RTE (Rich Text Edited)
------------------------------------------------------------------------------------------------------ */

.rte h2.subhead {
    margin: 0;
    font-size: 12px;
}
.rte h3 {
    margin: 10px -10px 10px; padding: 7px 10px 6px;
    font-size: 12px !important;
    border-top: 1px solid #d4d4d4;
    border-bottom: 1px solid #d4d4d4;
}
.rte .group h3 {
    border-top: none;
}
.rte h2 + h3 {
    margin-top: -11px !important;
}
.rte h4 {
    margin: 10px 0 0;
    font-size: 12px;
}
.rte h3:last-child, 
.rte h4:last-child {
    border-bottom: none;
    border-bottom-left-radius: 4px; -moz-border-radius-bottomleft: 4px; -webkit-border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px; -moz-border-radius-bottomright: 4px; -webkit-border-bottom-right-radius: 4px;
}
.rte p {
    margin: 10px 0;
}
.rte .module p {
    margin: 10px 0;
    padding: 0 10px;
}
.rte > p:first-child {
    margin-top: 0;
}

.rte .group h2 + p, 
.rte .module h2 + p {
    margin: 5px 0;
    padding: 0 10px;
    font-size: 11px;
}

.rte table p {
    margin: 0 !important;
    padding: 0 !important;
}

/* Workaround for problem reported in django-ticket #11817 */
.rte h2 p, 
.rte h4 p {
    margin: 0 !important;
    padding: 0 !important;
    font-weight: normal;
}
.rte h2 p {
    font-weight: bold !important;
}
.rte h4:empty, 
.rte p:empty, 
.rte hr, 
.rte br:first-child {
    display: none !important;
}

.rte td {
    border-left: 1px solid #f4f4f4;
}
.rte td:first-of-type {
    border-left: none;
}

.rte ul, .rte ol {
    margin: 10px 0 0 20px; padding: 0 0 0 10px;
    font-weight: normal !important;
}
.rte ul li, .rte ol li {
    margin: 0; padding: 0;
}
.rte ul li {
    list-style-type: disc;
}
.rte ol li {
    list-style-type: decimal;
}

.rte dd ul, .rte dd ol {
    margin-top: 0;
}

.rte blockquote {
    margin: 10px;
}

.rte blockquote table {
    border: 1px solid #d4d4d4;
    border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
}

.rte dl, .rte dt, .rte dd {
    margin: 0;
}

.small { font-size: 10px; }
.fw-normal { font-weight: normal; }





