{% extends "admin/grappelli/base_site.html" %}

<!-- LOADING -->
{% load i18n adminmedia grp_tags log %}

<!-- JAVASCRIPTS -->
{% block javascripts %}
    {{ block.super }}
    <script type="text/javascript" charset="utf-8">
        (function($) {
            $(document).ready(function() {
                $("div#header .collapse").grp_collapsible();
            });
        })(django.jQuery);
    </script>
{% endblock %}

<!-- COLTYPE/BODYCLASS-- >
{% block bodyclass %}dashboard{% endblock %}
{% block content-class %}content-grid{% endblock %}

<!-- BREADCRUMBS -->
{% block breadcrumbs %}<div id="breadcrumbs">{% trans "Home" %}</div>{% endblock %}
{% block content_title %}{% if title %}<h1>{{ title }}</h1>{% endif %}{% endblock %}

<!-- CONTENT -->
{% block content %}
<div class="container-grid">
    <div class="column span-12">
        {% if app_list %}
            {% for app in app_list %}
                <div class="module" id="app_{{ app.name|lower }}">
                    <h2><a href="{{ app.app_url }}" class="section">{% trans app.name %}</a></h2>
                    {% for model in app.models %}
                        <div class="row">
                            {% if model.perms.change %}<a href="{{ model.admin_url }}">{{ model.name }}</a>{% else %}<span>{{ model.name }}</span>{% endif %}
                            <ul class="actions">
                                <li class="add-link">{% if model.perms.add %}<a href="{{ model.admin_url }}add/">{% trans 'Add' %}</a>{% else %}&nbsp;{% endif %}</li>
                                <li class="change-link"> {% if model.perms.change %}<a href="{{ model.admin_url }}">{% trans 'Change' %}</a>{% else %}&nbsp;{% endif %}</li>
                            </ul>
                       </div>
                   {% endfor %}
               </div>
           {% endfor %}
        {% else %}
            <p>{% trans "You don´t have permission to edit anything." %}</p>
        {% endif %}
    </div>
    <div class="column span-6 last">
        <div class="module actions" id="recent-actions-module">
            <h2>{% trans 'Recent Actions' %}</h2>
            <div class="module">
                <h3>{% trans 'My Actions' %}</h3>
                {% get_admin_log 10 as admin_log for_user user %}
                {% if not admin_log %}
                    <p>{% trans 'None available' %}</p>
                {% else %}
                    <ul>
                        {% for entry in admin_log %}
                            <li class="{% if entry.is_addition %}add-link{% endif %}{% if entry.is_change %}change-link{% endif %}{% if entry.is_deletion %}delete-link{% endif %}">{% if not entry.is_deletion %}<a href="{{ entry.get_admin_url }}">{% endif %}{{ entry.object_repr }}{% if not entry.is_deletion %}</a>{% endif %}<br /><span class="mini quiet">{% filter capfirst %}{% trans entry.content_type.name %}{% endfilter %}</span></li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
