*.pyc
docs/_build/
docs/_themes/
.DS_Store
dist/*
django_grappelli.egg-info/*
grappelli/compass/.sass-cache/
grappelli/static/tinymce_dev
fabfile.py
.sass-cache
.project
.pydevproject
node_modules/*
.tox/*
