dist: xenial
language: python
matrix:
  include:
    - python: 3.6
      env: TOXENV=py36-django30
    - python: 3.7
      env: TOXENV=py37-django30
    - python: 3.8
      env: TOXENV=py38-django30
    - python: 3.8
      env: TOXENV=py38-django31
install:
  - pip install tox
  - pip install coverage
script:
  - tox
