{% load admin_tools_menu_tags %}
{% spaceless %}
{% if not item.is_empty %}
    <li class="menu-item{% if item.children %} children{% if index %} collapse closed{% endif %}{% endif %}{% if not item.enabled %} disabled{% endif %}{% if selected %} selected{% endif %}{% if forloop.last %} last{% endif %}{% if item.css_classes %} {{ item.css_classes|join:' ' }}{% endif %}">
        <a href="{% if item.url and item.enabled %}{{ item.url }}{% else %}#{% endif %}" class="{% if item.children %}children{% if index %} collapse-handler{% endif %}{% endif %}" {% if item.description %} title="{{ item.description }}"{% endif %}{% if item.accesskey %} accesskey="{{ item.accesskey }}"{% endif %}>{% if item.children %}<span class="icon"></span>{% endif %}{{ item.title }}</a>
        {% if item.children %}
            <ul>
                {% for child_item in item.children %}
                    {% admin_tools_render_menu_item child_item %}
                {% endfor %}
            </ul>
        {% endif %}
    </li>
{% endif %}
{% endspaceless %}
