{% load i18n %}
{% if show and choices %}
    <div id="date-hierarchy" class="grp-row" style="position: relative; z-index: 1 !important">
        <ul class="grp-date-hierarchy">
            {% if back %}<li><a href="{{ back.link }}" class="grp-date-hierarchy-back">{{ back.title }}</a></li>{% endif %}
            {% for choice in choices %}
                <li>{% if choice.link %}<a href="{{ choice.link }}">{{ choice.title }}</a>{% else %}<span>{{ choice.title }}</span>{% endif %}</li>
            {% endfor %}
        </ul>
    </div>
{% endif %}
