{% extends "admin/base_site.html" %}

<!-- LOADING -->
{% load i18n %}

<!-- BREADCRUMBS -->
{% block breadcrumbs %}
    <div id="breadcrumbs">
        <a href="../../">{% trans "Home" %}</a> &rsaquo;
        <a href="../">{{ app_label|capfirst }}</a> &rsaquo;
        <a href="./">{{ opts.verbose_name_plural|capfirst }}</a> &rsaquo;
        {% trans 'Delete multiple objects' %}
    </div>
{% endblock %}

<!-- CONTENT -->
{% block content %}
    <div class="container-grid delete-confirmation">
        {% if perms_lacking %}
            <div class="module">
                <h2>{% blocktrans %}Deleting the {{ objects_name }} would result in deleting related objects, but your account doesn't have permission to delete the following types of objects:{% endblocktrans %}</h2>
                <div class="row">
                    <ul class="rte">
                        {% for obj in perms_lacking %}
                            <li>{{ obj }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% else %}
            <div class="module">
                <h2>{% blocktrans %}Are you sure you want to delete the selected {{ objects_name }} objects? All of the following objects and their related items will be deleted:{% endblocktrans %}</h2>
                {% for deleteable_object in deletable_objects %}
                    <div class="row">
                        <ul class="rte">{{ deleteable_object|unordered_list }}</ul>
                    </div>
                {% endfor %}
            </div>
            <form action="" method="post">{% csrf_token %}
                <div class="module footer">
                    {% for obj in queryset %}
                        <input type="hidden" name="{{ action_checkbox_name }}" value="{{ obj.pk }}" />
                    {% endfor %}
                    <input type="hidden" name="action" value="delete_selected" />
                    <input type="hidden" name="post" value="yes" />
                    <ul class="submit-row" {% if is_popup %}style="overflow: auto;"{% endif %}>
                        <li class="left cancel-button-container"><a href="." class="cancel-link">{% trans "Cancel" %}</a></li>
                        <li class="submit-button-container"><input type="submit" value="{% trans "Yes, I'm sure" %}" class="default" /></li>
                    </ul><input type="hidden" name="post" value="yes" />
                </div>
            </form>
        {% endif %}
    </div>
{% endblock %}