{% extends "admin/base_site.html" %}

<!-- LOADING -->
{% load url from future %}
{% load i18n admin_urls %}

<!-- BREADCRUMBS -->
{% block breadcrumbs %}
    <ul class="grp-horizontal-list">
        <li><a href="{% url 'admin:index' %}">{% trans 'Home' %}</a></li>
        <li><a href="{% url 'admin:app_list' app_label=app_label %}">{{ app_label|capfirst|escape }}</a></li>
        <li><a href="{% url opts|admin_urlname:'changelist' %}">{{ module_name }}</a></li>
        <li><a href="{% url opts|admin_urlname:'changelist' %}{{ object.pk }}">{{ object|truncatewords:"18" }}</a></li>
        <li>{% trans 'History' %}</li>
    </ul>
{% endblock %}

<!-- CONTENT -->
{% block content %}
    <div class="g-d-c grp-object-history">
        {% if action_list %}
            <table id="grp-change-history">
                <thead>
                    <tr>
                        <th scope="col">{% trans 'Date/time' %}</th>
                        <th scope="col">{% trans 'User' %}</th>
                        <th scope="col">{% trans 'Action' %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for action in action_list %}
                        <tr>
                            <th scope="grp-row">{{ action.action_time|date:_("DATETIME_FORMAT") }}</th>
                            <td>{{ action.user.username }}{% if action.user.get_full_name %} ({{ action.user.get_full_name }}){% endif %}</td>
                            <td>
                            {% ifequal forloop.counter 1 %}
                                {% trans "Created object" %}
                            {% else %}
                                {{ action.change_message }}
                            {% endifequal %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>{% trans "This object doesn't have a change history. It probably wasn't added via this admin site." %}</p>
        {% endif %}
    </div>
{% endblock %}
