{% load adminmedia i18n grp_tags %}
{% if cl.search_fields %}
    {% get_search_fields_verbose cl.opts as search_fields_verbose %}
    <!-- Search Form -->
    <form id="changelist-search" action="" method="get">
        <input type="text" name="{{ search_var }}" id="searchbar"{% if cl.query %} value="{{ cl.query }}"{% endif %} />
        <button type="submit" value="" class="search">&nbsp;</button>
        {% for pair in cl.params.items %}
            {% ifnotequal pair.0 search_var %}<input type="hidden" name="{{ pair.0 }}" value="{{ pair.1 }}"/>{% endifnotequal %}
        {% endfor %}
        {% if search_fields_verbose and not cl.query %}
            <div class="tooltip search-fields">
                <div class="tooltip-pointer">&nbsp;</div>
                <div class="tooltip-content"><strong>{% trans 'Search' %}:</strong> {{ search_fields_verbose }}</div>
            </div>
        {% endif %}
    </form>
{% endif %}