{% extends "admin/grappelli_admintools/base_site.html" %}
{% load i18n admin_tools_dashboard_tags %}

{% block javascripts %}
    {{ block.super }}
    <script type="text/javascript" charset="utf-8">
        grappelli.site = "index";
        (function($) {
            $(document).ready(function() {
                $("div#header .collapse").grp_admintools_menu();
                
                var main_column = $("#column_1");
                
                // in dashboard_edit_mode a user can change the apperance of the dashboard
                // these changes ("delete"/collapse/move modoules) are persistent for the user.
                // collapse still works outside of edit_mode but isn't saved
                grappelli.dashboard_edit_mode = false;
                $("a.edit-dashboard-toggle-handler").click(function() {
                    // toogle the edit mode
                    grappelli.dashboard_edit_mode = !grappelli.dashboard_edit_mode;
                    $(this).toggleClass("tools-active");
                    
                    if (grappelli.dashboard_edit_mode) { // activate
                        $(".drag-handler-container").attr("style", "");
                        $(".remove-handler-container").attr("style", "");
                        $(".keep-open-handler-container").attr("style", "");
                        $(".keep-closed-handler-container").attr("style", "");
                        
                        
                        // increase the height of main_column to be a able to 
                        // sort big modules at the end of main_column with ui.sortable()
                        main_column.removeAttr('style'); // delete the old setting first
                        main_column.height(main_column.height() + grappelli.getHeightOfTallestModule(main_column));
                    } else { // deactivate
                        $(".drag-handler-container").attr("style", "display: none !important");
                        $(".remove-handler-container").attr("style", "display: none !important");
                        $(".keep-open-handler-container").attr("style", "display: none !important");
                        $(".keep-closed-handler-container").attr("style", "display: none !important");
                        
                        main_column.removeAttr('style'); // delete the old setting first
                    }
                });
                
                $(".group-tabs-container").tabs();
                $(".group-accordion-container").accordion({header: '.group-accordion-header'});
                
                $("div#content").grp_admintools_deletable({
                    on_init_finished: function(ui) {
                        grappelli.init_dashboard_deletable(ui);
                    },
                    on_delete: function(elem) {
                        grappelli.set_dashboard_deletable(elem.attr("id"), true);
                        // increase the height of main_column to be a able to 
                        // sort big modules at the end of main_column with ui.sortable()
                        main_column.removeAttr('style'); // delete the old setting first
                        main_column.height(main_column.height() + grappelli.getHeightOfTallestModule(main_column));
                    },
                    on_undelete: function(elem) {
                        grappelli.set_dashboard_deletable(elem.attr("id"), false);
                        // increase the height of main_column to be a able to 
                        // sort big modules at the end of main_column with ui.sortable()
                        main_column.removeAttr('style'); // delete the old setting first
                        main_column.height(main_column.height() + grappelli.getHeightOfTallestModule(main_column));
                    }
                });
                
                // set order of dashboard modules
                grappelli.init_dashboard_positions(main_column);
                
                // make modules sortable
                main_column.sortable({
                    // drag&drop the inlines with the drag-handler only
                    handle: "a.drag-handler",
                    placeholder: 'ui-sortable-placeholder',
                    forcePlaceholderSize: true,
                    items: "div.draggable",
                    axis: "y",
                    containment: "parent",
                    tolerance: 'pointer',
                    start: function(evt, ui) {
                        //ui.item.parent().height(ui.item.parent().height() + ui.placeholder.height());
                        ui.placeholder.addClass(ui.item.attr("class")).removeClass("open, closed")
                            .append(ui.item.children().clone().hide());
                    },
                    update: function(evt, ui) {
                        grappelli.set_dashboard_positions(main_column.sortable('toArray'));
                    },
                    stop: function(evt, ui) {
                        //ui.item.parent().removeAttr('style');
                    }
                });
                
                // make modules collapsible
                $("div.container-grid div.collapse").grp_collapsible({
                    on_init: function(elem, options) {
                        grappelli.init_dashboard_collapsibles(elem, options);
                        grappelli.add_additional_collapsible_handler(elem, options);
                    },
                    on_toggle: function(elem, options) {
                        if (grappelli.dashboard_edit_mode) {
                            // send new preferences to the server
                            grappelli.set_dashboard_collapsible(elem.attr("id"), elem.hasClass(options.open_css));
                            // increase the height of main_column to be a able to 
                            // sort big modules at the end of main_column with ui.sortable()
                            main_column.removeAttr('style'); // delete the old setting first
                            main_column.height(main_column.height() + grappelli.getHeightOfTallestModule(main_column));
                        }
                    }
                });
                
            });
        })(django.jQuery);
    </script>
{% endblock %}

{% block extrastyle %}
    {{ block.super }}
    {% block dashboard_css %}{% admin_tools_render_dashboard_css %}{% endblock %}
{% endblock %}

<!-- COLTYPE/BODYCLASS -->
{% block bodyclass %}admin-tools dashboard{% endblock %}
{% block content-class %}content-grid{% endblock %}

{% block breadcrumbs %}
    <div id="breadcrumbs">
        {% trans "Home" %}
        <ul class="tools">
            <li class="trash-list-container" style="display:none;">
                <a href="javascript://" class="trash-list-toggle-handler">&nbsp;</a>
                <ul id="trash" class="trash-list" style="display:none;"></ul>
            </li>
            <li class="edit-dashboard-container">
                <a href="javascript://" class="edit-dashboard-toggle-handler">&nbsp;</a>
            </li>
        </ul>
    </div>
{% endblock %}
{% block content_title %}{% if title %}<h1>{{ title }}</h1>{% endif %}{% endblock %}

{% block content %}
    {% admin_tools_render_dashboard %}
{% endblock %}
