{% extends "admin/_grappelli_admin_tools/base.html" %}
{% load i18n grp_tags admin_tools_menu_tags %}

<!-- TITLE/BRANDING/NAV -->
{% block title %}{{ title }} | {% grappelli_admin_title %}{% endblock %}

{% block extrastyle %}
    {{ block.super }}
    {% if user.is_active and user.is_staff %}
        {% if not is_popup %}
            {% admin_tools_render_menu_css %}
        {% endif %}
    {% endif %}
{% endblock %}

{% block branding %}
    <h1 id="site-name">{{ title }}</h1>
{% endblock %}

{% block nav-global %}
    {% if user.is_active and user.is_staff %}
        {% if not is_popup %}
            {% admin_tools_render_menu %}
        {% endif %}
    {% endif %}
{% endblock %}
