<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ LANGUAGE_CODE }}" xml:lang="{{ LANGUAGE_CODE }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
{% load theming_tags adminmedia i18n grp_tags %}
<head>
{% spaceless %}
    
    <title>{% block title %}{% endblock %}</title>

    {% block blockbots %}
        <meta name="robots" content="NONE,NOARCHIVE" />
    {% endblock %}
    
    <!-- STYLESHEETS -->
    {% block stylesheets %}
        <link href="{% admin_media_prefix %}css/base.css" rel="stylesheet" type="text/css" />
        {% if LANGUAGE_BIDI %}<link href="{% block stylesheet_rtl %}{% admin_media_prefix %}css/rtl.css{% endblock %}" rel="stylesheet" type="text/css" />{% endif %}
        <link href="{% admin_media_prefix %}jquery/ui/css/custom-theme/jquery-ui-1.8.custom.css" rel="stylesheet" type="text/css" media="screen" title="no title" charset="utf-8">
        <link href="{% admin_media_prefix %}css/jquery-ui-grappelli-extensions.css" rel="stylesheet" type="text/css"  />
    {% endblock %}

    {% block extrastyle %}{% endblock %}

    <!-- JAVASCRIPTS -->
    {% block javascripts %}
        <script type="text/javascript">
            // GLOBALS
            var grappelli = {},
                // TODO: klemens: drop ADMIN_URL
                ADMIN_URL = "{% url admin:index %}",
                MODEL_URL_ARRAY = {% get_content_types %},
                DATE_FORMAT = "{% get_date_format %}",
                TIME_FORMAT = "{% get_time_format %}",
                DATETIME_FORMAT = "{% get_datetime_format %}";
        </script>
    
        <!-- jQuery -->
        <script src="{% admin_media_prefix %}jquery/jquery-1.4.2.min.js" type="text/javascript"></script>
        <!-- jQuery Cookie Plugin -->
        <script src="{% admin_media_prefix %}jquery/jquery.cookie.min.js" type="text/javascript"></script>
        <!-- jQuery UI + plugins -->
        <script src="{% admin_media_prefix %}jquery/ui/js/jquery-ui-1.8.custom.min.js" type="text/javascript"></script>
        <script src="{% admin_media_prefix %}jquery/ui/js/jquery.grp_collapsible.js"type="text/javascript" ></script>
        <script src="{% admin_media_prefix %}jquery/ui/js/jquery.grp_deletable.js"type="text/javascript" ></script>
        <script src="{% admin_media_prefix %}jquery/ui/js/jquery.grp_collapsible_group.js" type="text/javascript"></script>
        <script src="{% admin_media_prefix %}jquery/ui/js/jquery.grp_menu.js" type="text/javascript"></script>
        <script src="{% admin_media_prefix %}jquery/ui/js/jquery.grp_timepicker.js" type="text/javascript"></script>
        <script src="{% admin_media_prefix %}jquery/ui/js/jquery.grp_change_list.js" type="text/javascript"></script>
        <!-- other libs -->
        <script src="{% admin_media_prefix %}js/bookmarks.js" type="text/javascript"></script>
        <script src="{% admin_media_prefix %}js/grappelli.RelatedObjectLookups.js" type="text/javascript"></script>
        <script src="{% admin_media_prefix %}js/json.min.js" type="text/javascript"></script>
        <!-- initialization code -->
        <script src="{% admin_media_prefix %}js/grappelli.js" type="text/javascript"></script>
    {% endblock %}
    {% block extrahead %}{% endblock %}
{% endspaceless %}
</head>

<body class="{% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}">
    <div id="container">
        
        <!-- HEADER -->
        {% if not is_popup %}
            <div id="header">
                <div class="branding">{% block branding %}{% endblock %}</div>
                <!-- Title -->
                <div class="admin-title">{% if grappelli_admin_title %}{{ grappelli_admin_title }}{% else %}{% get_admin_title %}{% endif %}</div>
                {% if user.is_active and user.is_staff %}
                    <ul id="user-tools">
                        <!-- Username -->
                        <li class="user-options-container collapse closed">
                            <a href="javascript://" class="user-options-handler collapse-handler">{% firstof user.first_name user.username %}</a>
                            <ul class="user-options">
                                <!-- Change Password -->
                                {% url admin:password_change as password_change_url %}
                                {% if password_change_url %}
                                    <li><a href="{{ password_change_url }}">
                                {% else %}
                                    <li><a href="{{ root_path }}password_change/">
                                {% endif %}
                                {% trans 'Change password' %}</a></li>
                                <!-- Logout -->
                                {% url admin:logout as logout_url %}
                                {% if logout_url %}
                                    <li><a href="{{ logout_url }}">
                                {% else %}
                                    <li><a href="{{ root_path }}logout/">
                                {% endif %}
                                {% trans 'Log out' %}</a></li>
                            </ul>
                        </li>
                        <!-- Userlinks -->
                        {% block userlinks %}
                            <!-- JS tests -->
                            {% url test-index as testindexurl %}
                            {% if testindexurl %}
                                <li><a href="{{ testindexurl }}">{% trans 'Tests' %}</a></li>
                            {% endif %}
                            <!-- Documentation -->
                            {% url django-admindocs-docroot as docsroot %}
                            {% if docsroot %}
                                <li><a href="{{ docsroot }}">{% trans 'Documentation' %}</a></li>
                            {% endif %}
                        {% endblock %}
                    </ul>
                {% endif %}
                {% block nav-global %}{% endblock %}
            </div>
            
            <!-- BREADCRUMBS -->
            {% block breadcrumbs %}
                <div id="breadcrumbs"><a href="/">{% trans 'Home' %}</a>{% if title %} &rsaquo; {{ title }}{% endif %}</div>
            {% endblock %}
        {% endif %}
        
        <!-- MESSAGES -->
        {% if messages %}
            <ul class="messagelist">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        
        <!-- CONTENT -->
        <div id="content" class="{% block content-class %}{% endblock %}">
            {% block pretitle %}{% endblock %}
            {% block content_title %}{% if title %}<h1>{{ title }}</h1>{% endif %}{% endblock %}
            {% block object-tools %}{% endblock %}
            {% block content %}
                {{ content }}
                {% block filters %}{% endblock %}
            {% endblock %}
            <br class="clear" />
        </div>
        
        <!-- FOOTER -->
        {% block footer %}<div id="footer"></div>{% endblock %}
        
    </div>
</body>
</html>

