{% extends "admin/_grappelli_admin_tools/base.html" %}
{% load i18n admin_tools_menu_tags %}

{% block title %}{{ title }} | {% trans 'Django site admin' %}{% endblock %}

{% block extrastyle %}
    {{ block.super }}
    {% if user.is_active and user.is_staff %}
        {% if not is_popup %}
            {% admin_tools_render_menu_css %}
        {% endif %}
    {% endif %}
{% endblock %}

{% block branding %}
    <h1 id="site-name">{% trans 'Django administration' %}</h1>
{% endblock %}

{% block nav-global %}
    {% if user.is_active and user.is_staff %}
        {% if not is_popup %}
            {% admin_tools_render_menu %}
        {% endif %}
    {% endif %}
{% endblock %}
