{% load i18n %}
<div class="module changelist-actions">
    <div class="form-row">
        {% if actions_selection_counter %}
        <ul>
            <li><span class="action-counter"><span class="_acnt">0</span> {{ selection_note }}</span></li>
            {% if cl.result_count != cl.result_list|length %}
            <li><span class="all">{{ selection_note_all }}</span></li>
            <li><span class="question">
                <a href="javascript:;" title="{% trans "Click here to select the objects across all pages" %}">{% blocktrans with cl.result_count as total_count %}Select all {{ total_count }} {{ module_name }}{% endblocktrans %}</a>
            </span></li>
            <li><span class="clear"><a href="javascript://">{% trans "Clear selection" %}</a></span></li>
            {% endif %}
        {% endif %}
        
        {% for field in action_form %}
            {{ field }}
        {% endfor %}
        <!--
        submit is triggered via onChange event of select field
        <button type="submit" class="button" title="{% trans "Run the selected action" %}" name="index" value="{{ action_index|default:0 }}">{% trans "Go" %}</button>-->
    </div>
</div>
