<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ LANGUAGE_CODE }}" xml:lang="{{ LANGUAGE_CODE }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
<title>{% block title %}{% endblock %}</title>
<link rel="stylesheet" type="text/css" href="{% block stylesheet %}{% load adminmedia %}{% admin_media_prefix %}css/base.css{% endblock %}" />
{% if LANGUAGE_BIDI %}<link rel="stylesheet" type="text/css" href="{% block stylesheet_rtl %}{% admin_media_prefix %}css/rtl.css{% endblock %}" />{% endif %}
<script type="text/javascript" src="{% admin_media_prefix %}jquery/jquery-1.2.6.pack.js"></script>
{% block extrastyle %}{% endblock %}
{% block extrahead %}{% endblock %}
<script type="text/javascript">{% load generic %}{% get_generic_relation_list %}</script>
{% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE" />{% endblock %}
<script>
$(document).ready(function(){
   $('#toggle_navigation').hover(
       function () {
           $("#navigation").show();
       }, 
       function () {
           $("#navigation").hide();
       }
   );
});
</script>
</head>
{% load i18n %}
{% load shortcuts %}
<body class="{% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}">
<!-- Container -->
<div id="container">
    {% if not is_popup %}
    <!-- Header -->
    <div id="header">
        <div id="branding">
            {% get_shortcuts request.user request.path title %}
            {% if user.is_authenticated and user.is_staff %}
            <div id="user-tools">
                <ul>
                    <li>
                        <strong>{% firstof user.first_name user.username %}</strong>
                    </li>
                    {% block userlinks %}
                    {% url django-admindocs-docroot as docsroot %}{% if docsroot %}
                    <li>
                        <a href="{{ docsroot }}">{% trans 'Documentation' %}</a>
                    </li>
                    {% endif %}
                    <li>
                        <a href="{{ root_path }}password_change/">{% trans 'Change password' %}</a>
                    </li>
                    <li>
                        <a href="{{ root_path }}logout/">{% trans 'Log out' %}</a>
                    </li>
                    {% endblock %}
                </ul>
            </div>
            {% endif %}
        </div>
        {% block nav-global %}{% endblock %}
    </div>
    <!-- END Header -->
    {% block breadcrumbs %}<div class="breadcrumbs"><a href="/">{% trans 'Home' %}</a>{% if title %} &rsaquo; {{ title }}{% endif %}</div>{% endblock %}
    {% endif %}
    <!-- Messages -->
    {% if messages %}
    <ul class="messagelist">{% for message in messages %}<li>{{ message }}</li>{% endfor %}</ul>
    {% endif %}
    <!-- END Messages -->
    <!-- Content -->
    <div id="content" class="{% block coltype %}colM{% endblock %}">
        {% block pretitle %}{% endblock %}
        {% block content_title %}{% if title %}<h1>{{ title }}</h1>{% endif %}{% endblock %}
        {% block content %}
        {% block object-tools %}{% endblock %}
        {{ content }}
        {% endblock %}
        {% block sidebar %}{% endblock %}
        <br class="clear" />
    </div>
    <!-- END Content -->
    {% block footer %}<div id="footer"></div>{% endblock %}
</div>
<!-- END Container -->
</body>
</html>
