{% load adminmedia i18n grp_tags %}
<script type="text/javascript">
    // Admin URL
    var ADMIN_URL = "/{% get_admin_url %}/";
    var ADMIN_MEDIA_PREFIX = "{% admin_media_prefix %}";
    $(function(){
        {% block javascripts.init  %}
        $.fx.speeds._default = 0; // remove all animations
        $('#bookmarks').gBookmarks({url: '{% url grp_bookmark_get %}'});
        $('.changelist-content').gChangelist();
        $('#changelist').gActions();
        $('input.vTimeField').gTimeField();
        $('input.vDateField').gDateField();
        $('.inline-group').gInlineGroup();
        $('.inline-stacked').gInlineStacked();
        $('.inline-tabular').gInlineTabular();
        {% endblock %}
    });
    {% get_generic_relation_list %}
</script>

