{% load admin_list i18n %}

{% spaceless %}
<ul class="pagination">
    {% if cl.result_count != cl.full_result_count %}
    <li class="results"><span>{{ cl.result_count }} results</span></li>
    {% endif %}
    {% comment %}{% ifnotequal cl.result_count 0 %}{% endcomment %}
    <li class="results"><a href="?{% if cl.is_popup %}pop=1{% endif %}">{{ cl.full_result_count }} total</a></li>
    {% comment %}{% endifnotequal %}{% endcomment %}
    {% if pagination_required %}
        {% comment %}<li class="page">{% trans 'Page' %}</li>{% endcomment %}
        {% for i in page_range %}
            <li>{% paginator_number cl i %}</li>
        {% endfor %}
    {% endif %}
    {% if show_all_url %}<li class="showall"><a href="{{ show_all_url }}">{% trans 'Show all' %}</a></li>{% endif %}
</ul>
{% endspaceless %}