{% load adminmedia i18n grp_tags %}

{% if cl.search_fields %}
    <!-- Search Form -->
    <div class="module search">
        <h2>{% trans 'Search' %}</h2>
        <form id="changelist-search" action="" method="get">
            <div class="form-row">
                <input type="text" size="40" name="{{ search_var }}" value="{{ cl.query }}" id="searchbar" {% if not cl.query %}class="search-fields-verbose"{% endif %} /><button type="submit" value="" class="search"> </button>
                {% get_search_fields_verbose cl.opts as search_fields_verbose %}
                {% if search_fields_verbose %}
                    <p class="quiet"><strong>{% trans 'Search for' %}:</strong> {{ search_fields_verbose }}</p>
                {% endif %}
                {% for pair in cl.params.items %}
                    {% ifnotequal pair.0 search_var %}<input type="hidden" name="{{ pair.0 }}" value="{{ pair.1 }}"/>{% endifnotequal %}
                {% endfor %}
            </div>
        </form>
    </div>
{% endif %}
