{% extends "admin_tools/dashboard/module.html" %}
{% load i18n %}
{% block module_content %}
    <div class="module {% for item in module.css_classes %}{{ item }} {% endfor %}"{% if index %} id="module_{{ index }}{% if subindex %}_{{ subindex }}{% endif %}"{% endif %}>
    
    {% if module.title %}
        {% if subindex %}
            <h3>{{ module.title }}</h3>
        {% else %}
            <h2>{{ module.title }}</h2>
        {% endif %}
    {% endif %}
    
{% spaceless %}
        {% if module.pre_content %}
            <p>{{ module.pre_content }}</p>
        {% endif %}
    {% for child in module.children %}
    
    <div class="module">
        {% if subindex %}
            <h4><a href="{{ child.url }}">{{ child.title }}</a></h4>
        {% else %}
            <h3><a href="{{ child.url }}">{{ child.title }}</a></h3>
        {% endif %}
        
        {% for model in child.models %}
            <div class="row">
                {% if model.change_url %}
                    <a href="{{ model.change_url }}">{{ model.title }}</a>
                {% else %}
                    {{ model.title }}
                {% endif %}
                {% if model.add_url or model.change_url %}
                    <ul class="actions">
                        {% if model.add_url %}
                            <li class="add-link">
                                <a href="{{ model.add_url }}">{% trans "Add" %}</a>
                            </li>
                        {% endif %}
                        {% if model.change_url %}
                            <li class="change-link">
                                <a href="{{ model.change_url }}">{% trans "Change" %}</a>
                            </li>
                        {% endif %}
                    </ul>
                {% endif %}
            </div>
        {% endfor %}
        
    </div>
    {% endfor %}
        {% if module.post_content %}
            <p>{{ module.post_content }}</p>
        {% endif %}
{% endspaceless %}
</div>
{% endblock %}
