{% extends "admin_tools/dashboard/module.html" %}
{% load i18n %}
{% block module_content %}
    <ul>
        {% spaceless %}
        {% for child in module.children %}
        <li>
            {% if child.date %}<span class="date mini quiet">{{ child.date|date }}&nbsp;</span>{% endif %}
            {% if child.warning %}<span class="warning">{{ child.title }}</span>{% else %}<a class="external" href="{{ child.url }}">{{ child.title }}</a>{% endif %}
        </li>
        {% endfor %}
        {% endspaceless %}
    </ul>
{% endblock %}
