/* -- Import Basic Documentstructure CSS ---------- */

@import url('content_documentstructure.css');

/* -- Language Specific Settings ---------- */

body#tinymce h1:before          { content: "Heading 1"; }
body#tinymce h2:before          { content: "Heading 2"; }
body#tinymce h3:before          { content: "Heading 3"; }
body#tinymce h4:before          { content: "Heading 4"; }
body#tinymce ol:before          { content: "Ordered List"; }
body#tinymce ul:before          { content: "Unordered List"; }
body#tinymce p:before           { content: "Paragraph"; }
body#tinymce code:before        { content: "Code"; }
body#tinymce pre:before         { content: "Preformatted"; }
body#tinymce blockquote:before  { content: "Blockquote"; }
body#tinymce div:before         { content: "Div"; }