{% load i18n %}
{% spaceless %}
<input type="text" id="lookup_{{ name }}" value="{{ label }}" class="vAutocompleteSearchField" style="display:none;" />

{%comment%}
<a href="{{ related_url }}{{ url|safe }}" class="related-lookup" id="lookup_id_{{ name }}" onclick="return showRelatedObjectLookupPopup(this);"><img src="{{ admin_media_prefix }}img/admin/selector-search.gif" width="16" height="16" alt="{% trans "Lookup" %}" /></a>
{% endcomment %}
{% endspaceless %}
<style>

.ui-gAutocomplete-wrapper {
    background:#f7fafb;
    border:1px solid #e0e0e0;
    border-color:#eaf5f8 #bbb #ddd #ccc;
    margin-top:-2px;
}

.ui-gAutocomplete-results {
}
.ui-gAutocomplete-result {
    cursor:pointer;
    padding:2px 4px;
    border-top:1px dotted #ddd;
    
}
.ui-gAutocomplete-result:first-child {
    cursor:pointer;
    padding:2px 4px;
    border:0;
}
.ui-gAutocomplete-result.selected {
    background:Highlight;
    color:HighlightText;
}
.ui-gAutocomplete-result b {
    color:#309BBF;
}
.ui-gAutocomplete-browse {
    display:block;
    background-color:#ddd;
    width:20px;
    height:23px;
    position:relative;
    float:left;
    border:1px solid #ccc;
    border-color:#ccc #ddd #ddd #ccc;
    border-right:1px solid #ddd;
    z-index:100;
}
.ui-gAutocomplete-browse.focus {
    border-color:#999 #bbb #bbb #999;
    border-right:1px solid #ccc;
}
a.ui-gAutocomplete-browse:focus {
    border-style:solid;
}
.ui-gAutocomplete-browse span {
    text-indent: -1000px;
    display:block;
    width:15px;
    height:15px;
    margin:3px 0 0 2px;
}
.vAutocompleteSearchField {
    background:#fff;
    margin-right:8px;
}
.vAutocompleteSearchField:focus {
    background-color:#eaf5f8;
}
a:focus {
    border:1px dotted #309bbf;
}
</style>

<script type="text/javascript">
$(function() {
    $("#lookup_{{ name }}").show();
  //lookup by search-fields
  //need to use "bind" for cloning elements
    $("#lookup_{{ name }}").gAutocomplete({
        // TODO: fix url lookup
//      backend: '{# url grp_autocomplete_lookup app_labe=app_label,model_name=model_name,search_fields=search_fields #}', // don't know why it doesn't work ..
        backend:     '/grappelli/autocomplete/{{ app_label }}/{{ model_name }}/{{ search_fields }}/',
        related_url: '{{ related_url }}{{ url|safe }}',
        listFormat:  '{{ list_format|default:"{id:d} - {label:s}" }}',
        inputFormat: '{{ input_format|default:"{label:s}" }}',
        highlight:   true,
        minChars:    1,
        maxResults:  20,
//      mustMatch: false,
//      matchContains: true,
        });
 //   ability to delete values by deleting the search-field
//  $("#lookup_{{ name }}").bind("change", function() {
//      if ($(this).val() == "") {
//          $(this).parent().find('input.vAutocompleteRawIdAdminField').val("");
//      }
//  });
  //lookup by ID
//  function AutocompleteLookup(obj) {
//      $.get('{% url grp_autocomplete_lookup_id %}', {
//          'search_fields': '{{ search_fields }}',
//          'app_label': '{{ app_label }}',
//          'model_name': '{{ model_name }}',
//          'object_id': obj.val(),
//      }, function(data){
//          $(obj).parent().find('input.vAutocompleteSearchField').val(data);
//      });
//  };
//  function AutocompleteHandler(obj) {
//      // autocomplete lookup handler
//      obj.bind("change", function() {
//          AutocompleteLookup($(this));
//      });
//      obj.bind("focus", function() {
//          AutocompleteLookup($(this));
//      });
//  };
//  AutocompleteHandler($("#id_{{ name }}"));
});
</script>
