{% load i18n %}

<textarea id="m2m_lookup_{{ name }}" class="vM2MAutocompleteSearchField mceNoEditor" style="display:none;" /></textarea>
<script type="text/javascript">
$(function(){
    $('#m2m_lookup_{{ name }}').gFacelist({
        autocomplete: {
            backend:     '/grappelli/autocomplete/{{ app_label }}/{{ model_name }}/{{ search_fields }}/',
            related_url: '{{ related_url }}{{ url|safe }}',
            listFormat:  '{{ list_format|default:"{id:d} - {label:s}" }}',
            inputFormat: '{{ input_format|default:"{label:s}" }}'
        }
    });
});
</script>
<style>
.ui-gFacelist-wrapper {
    float:left;
    margin-right:11px;
}
.ui-gFacelist-facelist {
    border-color:#ccc #ddd #ddd #ccc;
    border-style:solid;
    border-width:1px!important;
    background-color:#fff;
    padding:3px;
    -moz-border-radius-topRight:0;
    -moz-border-radius-topleft:0;
    -webkit-border-radius-topRight:0;
    -webkit-border-radius-topleft:0;
}
.ui-gFacelist-facelist input:focus,
.ui-gFacelist-facelist.focus { background-color:#eaf5f8; }
.ui-gFacelist-facelist input {
    border:0;
    padding:5px 3px;
    margin:3px;
    background:#fff;
}
.ui-gFacelist-item {
    background:#309bbf;
    color:#fff;
    padding:4px;
    margin:3px 0 3px 5px;
    float:left;
    cursor:pointer;
}
.ui-gFacelist-item:hover {
    background:#444;
}
.ui-gFacelist-toolbar {
    background-color:#ccc;
    border-bottom:0;
    height:22px;
}
.ui-gFacelist-toolbar a {
    background-color:#c25;
    display:block;
    height:20px;
    margin:0;
    text-indent:-1000px;
    width:20px;
    border:0;
    float:left;
    padding:2px 0 0 2px;
    border-right:1px solid #ddd!important;
    cursor:pointer;
    -moz-border-radius-topRight:3px;
    -moz-border-radius-topleft:3px;
    -webkit-border-radius-topRight:3px;
    -webkit-border-radius-topleft:3px;
}
.ui-gFacelist-toolbar a span {
    margin:0;
}
.ui-gFacelist-message {
    margin:4px 0 0 7px;
    float:left;
    color:#999;
    display:block;
    font-size:0.9em;
    font-weight:bold;
}
.ui-gFacelist-wrapper .ui-gAutocomplete-wrapper {
    width:698px!important;
    margin-top:4px!important;
    left:161px!important;
    border-top:1px solid #ddd!important;
}
.ui-gFacelist-wrapper .ui-gAutocomplete-wrapper ul {
    margin:0!important;
}
</style>


{% comment %}
{% spaceless %}
<textarea id="m2m_lookup_{{ name }}" class="vM2MAutocompleteSearchField mceNoEditor" style="display:none;" />{{ label }}xxx <a href="">x</a></textarea>
<a href="{{ related_url }}{{ url|safe }}" class="related-lookup" id="lookup_id_{{ name }}" onclick="return showRelatedObjectLookupPopup(this);">
    <img src="{{ admin_media_prefix }}img/admin/selector-search.gif" width="16" height="16" alt="{% trans "Lookup" %}" />
</a>
{% endspaceless %}
<script type="text/javascript">
$(document).ready(function() {
    $("#m2m_lookup_{{ name }}").show();
    // lookup by search-fields
    $('#m2m_lookup_{{ name }}').autocomplete('{% url grp_m2m_autocomplete_lookup %}', {
        highlight: false,
        multiple: true,
        mustMatch: true,
        matchContains: true,
        cacheLength: 20,
        minChars: 2,
        extraParams: {
            'search_fields': '{{ search_fields }}',
            'app_label': '{{ app_label }}',
            'model_name': '{{ model_name }}'
        }
    }).result(function(event, data, formatted) {
        if (data) {
            var values = $(this).parent().find("input.vM2MAutocompleteRawIdAdminField");
            values.val( (values.val() ? values.val() + "," : values.val()) + data[1]);
            //var val = $(this).parent().find('input.vM2MAutocompleteRawIdAdminField').val() + "," + data[1];
            //$(this).parent().find('input.vM2MAutocompleteRawIdAdminField').val(val);
        }
    });
    // ability to delete values by deleting the search-field
    $("#m2m_lookup_{{ name }}").bind("change", function() {
        if ($(this).val() == "") {
            $(this).parent().find('input.vM2MAutocompleteRawIdAdminField').val("");
        }
    });
    // lookup by ID
    function M2MAutocompleteLookup(obj) {
        $.get('{% url grp_m2m_autocomplete_lookup_id %}', {
            'search_fields': '{{ search_fields }}',
            'app_label': '{{ app_label }}',
            'model_name': '{{ model_name }}',
            'object_id': obj.val(),
        }, function(data){
            $(obj).parent().find('textarea.vM2MAutocompleteSearchField').val(data);
        });
    };
    function M2MAutocompleteHandler(obj) {
        // autocomplete lookup handler
        obj.bind("change", function() {
            M2MAutocompleteLookup($(this));
        });
        obj.bind("focus", function() {
            M2MAutocompleteLookup($(this));
        });
    };
    M2MAutocompleteHandler($("#id_{{ name }}"));
});
</script>
{% endcomment %}
