{% load i18n %}
{% spaceless %}
<textarea id="m2m_lookup_{{ name }}" class="vM2MAutocompleteSearchField mceNoEditor" style="display:none;" />{{ label }}xxx <a href="">x</a></textarea>
<a href="{{ related_url }}{{ url|safe }}" class="related-lookup" id="lookup_id_{{ name }}" onclick="return showRelatedObjectLookupPopup(this);">
    <img src="{{ admin_media_prefix }}img/admin/selector-search.gif" width="16" height="16" alt="{% trans "Lookup" %}" />
</a>
{% endspaceless %}
<script type="text/javascript">
$(document).ready(function() {
    $("#m2m_lookup_{{ name }}").show();
    // lookup by search-fields
    $('#m2m_lookup_{{ name }}').autocomplete('{% url grp_m2m_autocomplete_lookup %}', {
        highlight: false,
        multiple: true,
        mustMatch: true,
        matchContains: true,
        cacheLength: 20,
        minChars: 2,
        extraParams: {
            'search_fields': '{{ search_fields }}',
            'app_label': '{{ app_label }}',
            'model_name': '{{ model_name }}'
        }
    }).result(function(event, data, formatted) {
        if (data) {
            var values = $(this).parent().find("input.vM2MAutocompleteRawIdAdminField");
            values.val( (values.val() ? values.val() + "," : values.val()) + data[1]);
            //var val = $(this).parent().find('input.vM2MAutocompleteRawIdAdminField').val() + "," + data[1];
            //$(this).parent().find('input.vM2MAutocompleteRawIdAdminField').val(val);
        }
    });
    // ability to delete values by deleting the search-field
    $("#m2m_lookup_{{ name }}").bind("change", function() {
        if ($(this).val() == "") {
            $(this).parent().find('input.vM2MAutocompleteRawIdAdminField').val("");
        }
    });
    // lookup by ID
    function M2MAutocompleteLookup(obj) {
        $.get('{% url grp_m2m_autocomplete_lookup_id %}', {
            'search_fields': '{{ search_fields }}',
            'app_label': '{{ app_label }}',
            'model_name': '{{ model_name }}',
            'object_id': obj.val(),
        }, function(data){
            $(obj).parent().find('textarea.vM2MAutocompleteSearchField').val(data);
        });
    };
    function M2MAutocompleteHandler(obj) {
        // autocomplete lookup handler
        obj.bind("change", function() {
            M2MAutocompleteLookup($(this));
        });
        obj.bind("focus", function() {
            M2MAutocompleteLookup($(this));
        });
    };
    M2MAutocompleteHandler($("#id_{{ name }}"));
});
</script>