{% extends "admin/base_site.html" %}
{% load i18n admin_modify adminmedia %} {# grp_csrf #}
{% block userlinks %}
{% url django-admindocs-docroot as docsroot %}
    {% if docsroot %}
        <li>
            <a href="{{ docsroot }}">{% trans 'Documentation' %}</a>
        </li>
    {% endif %}
    <li>
        <a href="{{ root_path }}password_change/">{% trans 'Change password' %}</a>
    </li>
    <li>
        <a href="{{ root_path }}logout/">{% trans 'Log out' %}</a>
    </li>
{% endblock %}
{% block breadcrumbs %}
    {% if not is_popup %}
        <div id="breadcrumbs">
             <a href="../../../../">{% trans "Home" %}</a> &rsaquo;
             <a href="../../">{{ opts.verbose_name_plural|capfirst }}</a> &rsaquo;
             <a href="../">{{ original|truncatewords:"18" }}</a> &rsaquo;
             {% trans 'Change password' %}
        </div>
    {% endif %}
{% endblock %}
{% block title %}{% trans 'Password change' %}{% endblock %}
{% block content-class %}content-grid{% endblock %}

{% block content %}
{# TODO: French translations alre all mixed up with change "MY" password form ... #}
{#<h1>{% trans 'Password change' %}</h1>#}
<div class="container-grid">
    <div class="column span-12">
        <p>{% blocktrans with original.username as username %}Enter a new password for the user <strong>{{ username }}</strong>.{% endblocktrans %}</p>
        {% if form.errors %}
            <p class="errornote">
            {% blocktrans count form.errors.items|length as counter %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}
            </p>
        {% endif %}
        <form action="{{ form_url }}" method="post" id="{{ opts.module_name }}_form">{% csrf_token %}{% block form_top %}{% endblock %}
            {% if is_popup %}<input type="hidden" name="_popup" value="1" />{% endif %}
            <fieldset class="module">
                <div class="row">
                    <div class="column span-4"><label for="id_new_password1" class="required">{% trans 'New password:' %}</label></div>
                    <div class="column span-flexible">
                        {{ form.password1 }}
                        {{ form.password1.errors }}
                    </div>
                </div>
                <div class="row">
                    <div class="column span-4"><label for="id_new_password2" class="required">{% trans 'Password (again)' %}</label></div>
                    <div class="column span-flexible">
                        {{ form.password2 }}
                        {{ form.password2.errors }}
                        <p class="help">{% trans 'Enter the same password as above, for verification.' %}</p>
                    </div>
                </div>
            </fieldset>
            <div class="module submit-row">
                <ul class="submit-row">
                    <li><input type="submit" value="{% trans 'Change password' %}" class="default" /></li>
                </ul>
            </div>
        </form>
    </div>
</div>
{% endblock %}
