{% load i18n %}
<ul>
    <li>{{ admin_title }}</li>
    <li id="toggle_bookmarks"><a href="javascript://">{% trans "Bookmarks" %}</a>
        <ul id="bookmarks" class="menu">
            {% if object_list %}
            {% for object in object_list %}
            <li><a href="{{ object.link }}"><strong>{{ object }}</strong></a></li>
            {% endfor %}
            {% else %}
            <li>{% trans "No Items Found." %}</li>
            {% endif %}
        </ul>
    </li>
    
    {% if is_allowed %}
    {% if is_bookmark %}
    <li class="bookmark-action">
        <a href="/grappelli/bookmark/remove/?path={{ path }}" class="bookmarks-remove"> </a>
    </li>
    {% else %}
    <li class="bookmark-action">
        <a href="/grappelli/bookmark/add/?path={{ path }}&title={{ title }}" class="bookmarks-add"> </a>
    </li>
    {% endif %}
    {% endif %}
    <li class="shortcut-action manage">
        <a href="/admin/grappelli/bookmark/{{ user.id }}/" class="bookmarks-manage"> </a>
    </li>
    <li> </li>
</ul>
