{% load i18n %}
<ul>
    <li>{{ admin_title }}</li>
    <li id="toggle_navigation"><a href="javascript://">{% trans "Shortcuts" %}</a>
        <ul id="navigation" class="menu">
            {% if object_list %}
            {% for object in object_list %}
            <li><a href="{{ object.link }}"><strong>{{ object }}</strong></a></li>
            {% endfor %}
            {% else %}
            <li>{% trans "No Items Found." %}</li>
            {% endif %}
        </ul>
    </li>
    {% if is_allowed %}
    {% if is_shortcut %}
    <li>
        <a href="/grappelli/shortcut/remove/?path={{ path }}" class="shortcut_remove">Remove</a>
    </li>
    {% else %}
    <li>
        <a href="/grappelli/shortcut/add/?path={{ path }}&title={{ title }}" class="shortcut_add">Add</a>
    </li>
    {% endif %}
    {% endif %}
    <li>
        <a href="/admin/grappelli/shortcut/{{ user.id }}/" class="shortcut_manage">{% trans "Manage Shortcuts" %}</a>
    </li>
</ul>
