<ul>
    <li>Skip WebWorld</li>
    <li id="toggle_navigation"><a href="javascript://">Navigation</a>
        <ul id="navigation" class="menu">
            <li><a href="/admin/filebrowser/"><strong>FileBrowser</strong></a></li>
            <li><a href="/admin/"><strong>Alle Inhalte</strong></a></li>
            <li><a href="/main_admin/"><strong>Filme/Stars/Trailer/Galerien</strong></a></li>
            <li><a href="/container_admin/"><strong>Übersichtsseiten/Seitenleisten</strong></a></li>
            <li><a href="/festivals_admin/"><strong>Spezialprogramme/Festivals/...</strong></a></li>
            <li><a href="/games_admin/"><strong>Gewinnspiele/Promos/...</strong></a></li>
            <li><a href="/cinema_admin/"><strong>Kinos/Kinoprogramm</strong></a></li>
            <li><a href="/blog_admin/"><strong>Blog/Aktuelles Heft</strong></a></li>
            <li><a href="/user_admin/"><strong>User/Kommentare</strong></a></li>
            <li><a href="/newsletter_admin/"><strong>Newsletter</strong></a></li>
        </ul>
    </li>
</ul>