<ul>
    <li>Grappelli</li>
    <li onmouseover="ShowNav();" onmouseout="HideNav();"><a href="#">Navigation</a>
        <ul id="navigation" class="menu">
            <li><a href="/admin/"><strong>Main Admin</strong></a></li>
            <li><a href="/configuration_admin/"><strong>Configuration Admin</strong></a></li>
            <li><a href="/blog_admin/"><strong>Blog Admin</strong></a></li>
            <li><a href="/admin/blog/entry/"><strong>Blog Entries (Change List)</strong></a></li>
        </ul>
    </li>
</ul>