{% extends "grappelli/dashboard/module.html" %}
{% load i18n %}
{% block module_content %}
    {% for child in module.children %}
        <div class="grp-row">
            {% if child.admin_url %}<a href="{{ child.admin_url }}"><strong>{{ child.title }}</strong></a>{% else %}<strong>{{ child.title }}</strong>{% endif %}
            {% if child.add_url or child.admin_url %}
                <ul class="grp-actions">
                    {% if child.add_url %}<li class="grp-add-link"><a href="{{ child.add_url }}">{% trans "Add" %}</a></li>{% endif %}
                    {% if child.admin_url %}<li class="grp-change-link"><a href="{{ child.admin_url }}">{% trans "Change" %}</a></li>{% endif %}
                </ul>
            {% endif %}
        </div>
    {% endfor %}
{% endblock %}
