{% extends "grappelli/dashboard/module.html" %}
{% load i18n %}
{% block module_content %}
    <div class="module">
        {% if module.children %}
            <ul>
                {% for entry in module.children %}
                    <li class="{% if entry.is_addition %}add-link{% endif %}{% if entry.is_change %}change-link{% endif %}{% if entry.is_deletion %}delete-link{% endif %}">{% if not entry.is_deletion %}<a href="{{ entry.get_admin_url }}">{% endif %}{{ entry.object_repr }}{% if not entry.is_deletion %}</a>{% endif %}<br /><span class="mini quiet">{% filter capfirst %}{% trans entry.content_type.name %}{% endfilter %}</span></li>
                {% endfor %}
            </ul>
        {% else %}
            <p>{% trans 'None Available' %}</p>
        {% endif %}
    </div>
{% endblock %}
