// **************************************************
//
// MUELLER
// modular grid system
//
// _media_desktop.scss
//
// 1024px
//
// **************************************************

@import "compass/layout/grid-background";
@import "compass/typography/vertical_rhythm";

// baseline
$relative-font-sizing: false;
$base-font-size: 12px;
$base-line-height: 16px;
@include establish-baseline(12px);

$gc: 24; // grid columns
$gw: 20px; // grid width
$gm: 20px; // grid margin

.g-d-c {
    @extend .g-base-c;
    width: $gw*$gc+$gm*($gc - 1);
    // uncomment for a background-grid
    // @include grid-background($gc, $gw, $gm, 21px, 0, #ccc, #ddd, #999, false);
}

@include grids(d,
    24 23 22 21 20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1 0, // only add the columns you really need
    $gc,
    $gw,
    $gm,
    24 23 22 21 20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1 0); // only add the pad-units you really need to push/pull/append/prepend

// visibility
.l-show, .h-show, .hp-show, .hl-show, .t-show, .tp-show, .tl-show {
    display: none !important;
}
.d-hide {
    display: none !important;
}
.d-show {
    display: block !important;
}
#{elements-of-type(inline)} {
    &.d-show {
        display: inline !important;
    }
}

fieldset.grp-module {
    .g-d-fluid {
        position: relative;
        float: none;
        display: table-cell;
        width: 10000px;
    }
    // Reset the table-cell solution in cells as it cause bad behaviour of fields and readonly fields
    .grp-cell {
        .g-d-fluid {
            float: left;
            width: auto;
            display: block;
        }
    }
}

.g-d-c-fluid {
    position: relative;
    display: table;
    width: 100%;
    table-layout: fixed;
    > *[class^=g-d] {
        position: relative;
        display: table-cell;
        float: none;
        margin-right: 0 !important;
        padding-right: $gm;
        vertical-align: top;
        &.g-d-l {
            padding-right: 0;
        }
    }
}