{% extends "admin/base_site.html" %}

<!-- LOADING -->
{% load i18n adminmedia grp_tags log grp_dashboard_tags %}

<!-- JAVASCRIPTS -->
{% block javascripts %}
    {{ block.super }}
    <script type="text/javascript" charset="utf-8">
        (function($) {
            $(document).ready(function() {
                $("div#content .collapse").grp_collapsible();
            });
        })(django.jQuery);
    </script>
{% endblock %}

<!-- COLTYPE/BODYCLASS-- >
{% block bodyclass %}dashboard{% endblock %}
{% block content-class %}content-grid{% endblock %}

<!-- BREADCRUMBS -->
{% block breadcrumbs %}<div id="breadcrumbs">{% trans "Home" %}</div>{% endblock %}
{% block content_title %}{% if title %}<h1>{{ title }}</h1>{% endif %}{% endblock %}

<!-- CONTENT -->
{% block content %}
{% grp_render_dashboard %}
{% endblock %}

