{% extends "admin/base_site.html" %}
{% load i18n %} {# grp_csrf #}

{% block breadcrumbs %}
    <ul class="grp-horizontal-list">
        <li><a href="../">{% trans "Home" %}</a></li>
        <li>{% trans 'Password reset confirmation' %}</li>
    </ul>
{% endblock %}

{% block title %}{% trans 'Password reset' %}{% endblock %}

{% block content %}
    {% if validlink %}
        <h1>{% trans 'Enter new password' %}</h1>
        <div class="g-d-c">
            <div class="g-d-12">
                <div class="grp-rte">
                    <p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>
                </div>
                 <form action="" method="post">{% csrf_token %}
                    <fieldset class="grp-module">
                        <div class="grp-row">
                            <div class="l-2c-fluid l-d-4">
                                <div class="c-1"><label for="id_new_password1" class="required">{% trans 'New password' %}</label></div>
                                <div class="c-2">
                                    {{ form.new_password1 }}
                                    {{ form.new_password1.errors }}
                                </div>
                            </div>
                        </div>
                        <div class="grp-row">
                            <div class="l-2c-fluid l-d-4">
                                <div class="c-1"><label for="id_new_password2" class="required">{% trans 'Password (again)' %}</label></div>
                                <div class="c-1">
                                    {{ form.new_password2 }}
                                    {{{ form.new_password2.errors }}
                                    <p class="grp-help">{% trans 'Enter the same password as above, for verification.' %}</p>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <div class="grp-module grp-submit-row">
                        <ul>
                            <li><input type="submit" value="{% trans 'Change password' %}" class="grp-default" /></li>
                        </ul>
                    </div>
                </form>
            </div>
        </div>
    {% else %}
        <h1>{% trans 'Password reset unsuccessful' %}</h1>
        <div class="grp-rte">
            <p>{% trans "The password reset link was invalid, possibly because it has already been used. Please request a new password reset." %}
        </div>
    {% endif %}
{% endblock %}
