{% extends "admin/base_site.html" %}
{% load url from future %}
{% load i18n %}
{% block userlinks %}
{% url 'django-admindocs-docroot' as docsroot %}{% if docsroot %}
<li>
    <a href="{{ docsroot }}">{% trans 'Documentation' %}</a>
</li>
{% endif %}
<li>
    <a href="{{ root_path }}password_change/">{% trans 'Change password' %}</a>
</li>
<li>
    <a href="{{ root_path }}logout/">{% trans 'Log out' %}</a>
</li>
{% endblock %}
{% block breadcrumbs %}
    <ul class="grp-horizontal-list">
        <li><a href="../">{% trans "Home" %}</a></li>
        <li>{% trans 'Password change' %}</li>
    </ul>
{% endblock %}
{% block title %}{% trans 'Password change' %}{% endblock %}
{% block content-class %}{% endblock %}

{% block content %}

    <h1>{% trans 'Password change' %}</h1>
    <div class="g-d-c">
        <div class="g-d-12">
            <div class="grp-rte">
                <p>{% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}</p>
            </div>
            <form action="" method="post">{% csrf_token %}
                <fieldset class="grp-module">
                    <div class="grp-row l-2c-fluid l-d-4{% if form.old_password.errors %} grp-errors{% endif %}">
                        <div class="c-1"><label for="id_old_password" class="required">{% trans 'Old password' %}</label></div>
                        <div class="c-2">
                            {{ form.old_password }}
                            {{ form.old_password.errors }}
                        </div>
                    </div>
                    <div class="grp-row l-2c-fluid l-d-4{% if form.new_password1.errors %} grp-errors{% endif %}">
                        <div class="c-1"><label for="id_new_password1" class="required">{% trans 'New password' %}</label></div>
                        <div class="c-2">
                            {{ form.new_password1 }}
                            {{ form.new_password1.errors }}
                        </div>
                    </div>
                    <div class="grp-row l-2c-fluid l-d-4{% if form.new_password2.errors %} grp-errors{% endif %}">
                        <div class="c-1"><label for="id_new_password2" class="required">{% trans 'Password (again)' %}</label></div>
                        <div class="c-2">
                            {{ form.new_password2 }}
                            {{ form.new_password2.errors }}
                        </div>
                    </div>
                </fieldset>
                <div class="grp-module grp-submit-row">
                    <ul>
                        <li><input type="submit" value="{% trans 'Change my password' %}" class="grp-default" /></li>
                    </ul>
                </div>
            </form>
        </div>
    </div>

{% endblock %}
