{% extends "admin/base_site.html" %}
{% load url from future %}
{% load i18n %}

{% block userlinks %}
    {% url 'django-admindocs-docroot' as docsroot %}
    {% if docsroot %}
        <li>
            <a href="{{ docsroot }}">{% trans 'Documentation' %}</a>
        </li>
    {% endif %}
    <li>
        <a href="{{ root_path }}password_change/">{% trans 'Change password' %}</a>
    </li>
    <li>
        <a href="{{ root_path }}logout/">{% trans 'Log out' %}</a>
    </li>
{% endblock %}

{% block breadcrumbs %}
    <ul class="grp-horizontal-list">
        <li><a href="../../">{% trans 'Home' %}</a></li>
        <li>{% trans 'Password change' %}</li>
    </ul>
{% endblock %}

{% block title %}{% trans 'Password change successful' %}{% endblock %}
{% block content %}
    <h1>{% trans 'Password change successful' %}</h1>
    <div class="g-d-c">
        <div class="g-d-12">
            <div class="grp-rte">
                <p>{% trans 'Your password was changed.' %}</p>
            </div>
        </div>
    </div>
{% endblock %}
