{% extends "admin/base_site.html" %}
{% load url from future %}
{% load i18n %}
{% block userlinks %}
{% url 'django-admindocs-docroot' as docsroot %}{% if docsroot %}
<li>
    <a href="{{ docsroot }}">{% trans 'Documentation' %}</a>
</li>
{% endif %}
<li>
    <a href="{{ root_path }}password_change/">{% trans 'Change password' %}</a>
</li>
<li>
    <a href="{{ root_path }}logout/">{% trans 'Log out' %}</a>
</li>
{% endblock %}
{% block breadcrumbs %}<div id="breadcrumbs"><a href="../">{% trans 'Home' %}</a> &rsaquo; {% trans 'Password change' %}</div>{% endblock %}
{% block title %}{% trans 'Password change' %}{% endblock %}
{% block content-class %}content-grid{% endblock %}

{% block content %}

<h1>{% trans 'Password change' %}</h1>

<div class="container-grid">
    <div class="column span-12">
        <p>{% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}</p>
        <form action="" method="post">{% csrf_token %}
            <fieldset class="module">
                <div class="row">
                    <div class="column span-4"><label for="id_old_password" class="required">{% trans 'Old password:' %}</label></div>
                    <div class="column span-flexible">
                        {{ form.old_password }}
                        {{ form.old_password.errors }}
                    </div>
                </div>
                <div class="row">
                    <div class="column span-4"><label for="id_new_password1" class="required">{% trans 'New password:' %}</label></div>
                    <div class="column span-flexible">
                        {{ form.new_password1 }}
                        {{ form.new_password1.errors }}
                    </div>
                </div>
                <div class="row">
                    <div class="column span-4"><label for="id_new_password2" class="required">{% trans 'Confirm password:' %}</label></div>
                    <div class="column span-flexible">
                        {{ form.new_password2 }}
                        {{ form.new_password2.errors }}
                    </div>
                </div>
            </fieldset>
            <div class="module submit-row">
                <ul class="submit-row">
                    <li class="submit-button-container"><input type="submit" value="{% trans 'Change my password' %}" class="default" /></li>
                </ul>
            </div>
        </form>
    </div>
</div>

{% endblock %}
