/* This file contains the CSS data for the editable area(iframe) of TinyMCE */
/* You can extend this CSS by adding your own CSS file with the the content_css option */

* html body { overflow-y: auto !important; overflow-x: auto !important; }

body, td, pre {
	font-family:"Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif;
	font-size: 12px; line-height: 16px; font-weight: normal; color: #222;
}

body {
    width: 940px !important;
	background-color: #FFF;
	padding: 6px !important;
	margin: -6px 0 0 0 !important;
}

body.mceContentBodyFullscreen {
	width: 940px !important;
	font-size: 13px !important; line-height: 17px !important;
}

div { padding:0; margin:0; }

a:link, a:visited, a:hover, a:active { padding: 0; color: #5B80B2 !important; text-decoration: none !important; }

a.external:link, a.external:visited, a.external:hover, a.external:active { padding: 0; color: #5B80B2 !important; text-decoration: underline !important; }

/* -- Absolute Break (Style=Umbruch) ---------- */

.abs_break {
    clear: both !important; padding: 2px 0;
    border-top-width: 2px !important; border-bottom-width: 2px !important;
}
ol.abs_break, ul.abs_break { padding: 2px 0 2px 10px !important; }