.column {
  float: left;
  margin-right: 10px;
  padding: 0;
  margin-top: 10px;
}


/* The last column in a row needs this class. */
.last { margin-right: 0; }

/* Use these classes to set the width of a column. */
.span-1  { width: 60px;}
.span-2  { width: 140px;}
.span-3  { width: 220px;}
.span-4  { width: 300px;}
.span-5  { width: 380px;}
.span-6  { width: 460px;}
.span-7  { width: 540px;}
.span-8  { width: 620px;}
.span-9  { width: 700px;}
.span-10 { width: 780px;}
.span-11 { width: 860px;}
.span-12 { width: 940px; margin: 0; }

.column span-1 { float:left; }
.column span-2 { float:left; }
.column span-3 { float:left; }
.column span-4 { float:left; }
.column span-5 { float:left; }
.column span-6 { float:left; }
.column span-7 { float:left; }
.column span-8 { float:left; }
.column span-9 { float:left; }
.column span-10 { float:left; }
.column span-11 { float:left; }
.column span-12 { float:left; }

.column span-1 last { float:left; margin-right: 0; }
.column span-2 last { float:left; margin-right: 0; }
.column span-3 last { float:left; margin-right: 0; }
.column span-4 last { float:left; margin-right: 0; }
.column span-5 last { float:left; margin-right: 0; }
.column span-6 last { float:left; margin-right: 0; }
.column span-7 last { float:left; margin-right: 0; }
.column span-8 last { float:left; margin-right: 0; }
.column span-9 last { float:left; margin-right: 0; }
.column span-10 last { float:left; margin-right: 0; }
.column span-11 last { float:left; margin-right: 0; }
.column span-12 last { float:left; margin-right: 0; }



